<div class="panel panel-body" *ngIf="(filteredEnrolments$ | async) as enrolments; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-list"></i>
      <span>{{'lang_263' | translate}}</span>
      <span class="pull-right">
        <button mat-raised-button (click)="createEnrolment()">
          <i class="fa fa-plus"></i> Add Enrolment</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <div class="col-md-4">
      <label>Student</label>
      <select name="studentId" [(ngModel)]="selectedStudent" class="form-control" (change)="filterEnrolments()">
        <option value="0">All</option>
        <option *ngFor="let student of students$ | async" value="{{student.id}}">{{student.firstName}} {{student.lastName}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Lesson</label>
      <select name="lessonId" [(ngModel)]="selectedLesson" class="form-control" (change)="filterEnrolments()">
        <option value="0">All</option>
        <option *ngFor="let lesson of lessons$ | async" value="{{lesson.id}}">{{lesson.title}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <label>Status</label>
      <select name="active" [(ngModel)]="status" class="form-control" (change)="filterEnrolments()">
        <option value="-1">All</option>
        <option value="1">Active</option>
        <option value="0">Inactive</option>
      </select>
    </div>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Student</th>
          <th>Lesson</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let enrolment of enrolments">
          <td>{{enrolment.enrolmentDate | date:'dd/MM/yyyy'}}</td>
          <td>{{enrolment.student.firstName}} {{enrolment.student.lastName}}</td>
          <td>{{enrolment.lesson.title}}</td>
          <td>
            <input type="checkbox" [checked]="enrolment.active" disabled>
          </td>
          <td>
            <button class="btn btn-danger btn-xs" title="Delete" (click)="deleteEnrolment(enrolment)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
