<div class="panel panel-body" *ngIf="(lesson$ |async) as lesson; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-plus"></i> {{lesson.title}} [{{title}}]
      <span class="pull-right">
        <button mat-raised-button (click)="backToList(lesson)">
          <i class="fa fa-list"></i> Back To List</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="lessonModuleForm" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="title" class=" control-label">Title</label>
          <input [(ngModel)]="lessonModule.title" type="text" class="form-control" formControlName="title" id="title">
        </div>

        <div class="form-group">
          <label for="moduleLesson" class=" control-label">Lesson</label>
          <select [(ngModel)]="lessonModule.lessonId" class="form-control select2" formControlName="lessonId" id="moduleLesson">
            <option value="0">Select lesson ...</option>
            <option value="{{lesson.id}}">{{lesson.title}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="scheduleDate" class=" control-label">Schedule Date</label>
          <input [(ngModel)]="lessonModule.scheduleDate" type="date" class="form-control" min="{{now | date:'yyyy-MM-dd'}}" formControlName="scheduleDate"
            id="scheduleDate">
        </div>

        <div class="form-group">
          <label for="startTime" class=" control-label">Start Time</label>
          <input [(ngModel)]="lessonModule.startTime" type="time" class="form-control" formControlName="startTime" id="startTime">
        </div>

        <div class="form-group">
          <label for="duration" class=" control-label">Duration (in minutes)</label>
          <input [(ngModel)]="lessonModule.duration" type="number" class="form-control" formControlName="duration" id="duration">
        </div>

        <div class="form-group">
          <label for="description" class=" control-label">Description</label>
          <textarea [(ngModel)]="lessonModule.description" class="form-control" formControlName="description" id="description" rows="4"></textarea>
        </div>

        <div class="form-group">
          <div class="pull-right">
            <button mat-raised-button type="button" color="primary" [disabled]="lessonModuleForm.invalid || lessonModuleForm.pending"
              (click)="createLessonModule()">
              {{'lang_264' | translate}}
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
