<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template [ngIf]="!loading">
  <app-learner *ngIf="student !== null" [student]="student" [lesson]="lesson" [lessons]="lessons" [enrolments]="enrolments">
  </app-learner>
  <app-instructor *ngIf="instructor !== null" [instructor]="instructor" [lesson]="lesson" [lessons]="lessons"></app-instructor>
</ng-template>
