<ng-container>
  <span class="page-row" style="padding-bottom: 1px;">
    <span class="col-sm-1">
      <input type="color" title="Change drawing color" class="input-sm" (change)="setColor($event.target.value)" value="{{curColor}}">
    </span>
    <span class="col-sm-3">
      <select name="tool" title="Select drawing tool" class="input-sm" (change)="setTool($event.target.value)" [(ngModel)]="tool">
        <option value="pencil">Pencil</option>
        <option value="line">Line</option>
        <option value="rect">Rectangle</option>
        <option value="circle">Circle</option>
      </select>
    </span>
    <span class="col-sm-1">
      <input type="number" style="width: 60px;" title="Set drawing size" class="input-sm" name="lineWidth" [(ngModel)]="lineWidth"
        (change)="onChangeWidth()" min="1">
    </span>
    <span class="col-sm-1"></span>
    <span class="col-sm-1"></span>
    <span class="col-sm-1"></span>
    <span class="col-sm-1">
      <button *ngIf="authService.isInstructorAuthenticated()" title="Save to file" type="button" class="btn btn-sm btn-info" (click)="saveCanvas()">
        <i class="fa fa-save fa-2x"></i>
      </button>
    </span>
    <span class="col-sm-1">
      <button *ngIf="authService.isInstructorAuthenticated()" title="Erase drawings" type="button" class="btn btn-sm" (click)="eraseCanvas()"
        [class.btn-warning]="isErasing">
        <i class="fa fa-eraser fa-2x"></i>
      </button>
    </span>
    <span class="col-sm-1">
      <button *ngIf="authService.isInstructorAuthenticated()" title="Clear drawings" type="button" class="btn btn-sm" (click)="clearCanvas()">
        <i class="fa fa-close fa-2x"></i>
      </button>
    </span>
    <span class="col-sm-1" id="download"></span>
  </span>
  <span class="page-row">
    <span class="col-sm-12" id="canvasContainer" style="padding: 2px;">
      <canvas #canvas></canvas>
    </span>
  </span>
</ng-container>
