<div class="page-row has-divider">
  <ul class="list-group">
    <li class="list-group-item active">
      <span>Personal Information</span>
    </li>
    <li class="list-group-item">
      <h5>
        <span>Full Name: </span>
        <span class="pull-right">{{instructor.firstName}} {{instructor.lastName}}</span>
      </h5>
      <h5>
        <span>Username: </span>
        <span class="pull-right">{{instructor.username}}</span>
      </h5>

      <h5>
        <span>Email Address: </span>
        <span class="pull-right">{{instructor.emailAddress}}</span>
      </h5>

      <h5>
        <span>Phone Number: </span>
        <span class="pull-right">{{instructor.phoneNumber}}</span>
      </h5>

      <h5>
        <span>Address: </span>
        <span class="pull-right">
          <address></address>
        </span>
      </h5>
      <h5>
        <span>Status: </span>
        <span class="label label-success pull-right" *ngIf="instructor.active">active</span>
        <span class="badge badge-danger pull-right" *ngIf="!instructor.active">inactive</span>
      </h5>
      <h5>
        <span>{{'lang_242' | translate}} </span>
        <span class="pull-right">{{instructor.joinDate | date:'mediumDate'}}</span>
      </h5>
    </li>
  </ul>
</div>
<!--//page-row-->
<div class="row page-row">
  <ul class="list-group">
    <li class="list-group-item active">
      <span>{{'lang_253' | translate}}</span>
    </li>
    <li class="list-group-item">
      <app-change-password [instructor]="instructor"></app-change-password>
    </li>
  </ul>
</div>
<!--//page-row-->
