<mat-card routerLink="/lessons/show/{{lesson.slug}}" class="mat-card-small-interactive">
  <mat-card-header>
    <mat-card-title>
      <h4>{{lesson.title}}</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{lesson.description.substring(0,100)}} ...</p>
  </mat-card-content>
</mat-card>
