.mat-card-small-interactive {
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem;
  position: relative;
  will-change: transform;
  display: block;
  height: 290px;
  width: 100%;
}

.mat-card-small-interactive:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #40e0d0;
  transition: 0.5s;
}

.mat-card-small-interactive:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.mat-card-small-interactive:hover:after {
  width: 100%;
}

mat-card-content {
  padding-left: 1rem;
  margin-top: 0;
  text-align: left;
}
