<div class="row page-row clearfix">
  <div class="col-md-8 table-responsive" style="padding: 5px;">
    <!-- <app-whiteboard></app-whiteboard> -->
    <app-canvas></app-canvas>
  </div>
  <div class="col-md-4" style="padding: 1px;">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#remoteViewCollapse">
              Remote Video &nbsp;&nbsp;
              <span *ngIf="isLive" class="fa fa-camera"></span>
            </a>
            <button class="btn btn-primary btn-sm pull-right" title="Refresh" (click)="joinClass()">
              <i class="fa fa-refresh"></i>
            </button>
          </h4>
        </div>
        <div id="remoteViewCollapse" class="panel-collapse collapse in">
          <div class="panel-body">
            <video width="100%" controls autoplay></video>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#remoteScreenCollapse">
              Remote Screen &nbsp;&nbsp;
              <span *ngIf="isLive" class="fa fa-desktop"></span>
            </a>
          </h4>
        </div>
        <div id="remoteScreenCollapse" class="panel-collapse collapse">
          <div class="panel-body" id="remoteScreen">

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#lessonChats">
              Chats</a>
          </h4>
        </div>
        <div id="lessonChats" class="panel-collapse collapse">
          <div class="panel-body">
            <app-chat *ngIf="isDataChannelOpen && lesson !== null" [lesson]="lesson"></app-chat>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#attendance">
              Participants ({{numberConnected}})</a>
          </h4>
        </div>
        <div id="attendance" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-group" *ngIf="hasJoined">
              <li class="list-group-item clearfix" *ngFor="let peerId of broadcastService.connection.getAllParticipants()">

                <span class="pull-left">
                  <img src="assets/images/{{broadcastService.connection.peers[peerId].extra.user.avatar}}" width="30" height="30" class=" img-circle"
                  />
                  <span>{{broadcastService.connection.peers[peerId].extra.user.firstName}} {{broadcastService.connection.peers[peerId].extra.user.lastName}}</span>
                  <span class="label label-success small" *ngIf="broadcastService.connection.peers[peerId].isInitiator">Instructor</span>
                </span>
                <span class=" pull-right">
                  <span class="fa fa-envelope fa-2x" style="cursor: pointer;" (click)="alert(peerId)"></span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#lessonDetails">
              Lesson Details</a>
          </h4>
        </div>
        <div id="lessonDetails" class="panel-collapse collapse">
          <div class="panel-body">
            <span class="text-muted pull-right">{{student.firstName}} {{student.lastName}} -
              <b>{{lesson.title}}</b>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
