<div class="panel panel-body" *ngIf="(filteredUsers$ | async) as users">
  <div class="page-row">
    <div class="col-sm-3">
      <h3>
        <i class="fa fa-users"></i>
        <span>{{'lang_280' | translate}}</span>
      </h3>
    </div>
    <div class="col-sm-6">
      <label>{{'lang_281' | translate}}</label>
      <select [(ngModel)]="roleId" class="form-control" (change)="onFilterUsersByRole()">
        <option value="0">All</option>
        <option *ngFor="let role of roles$ | async" value="{{role.id}}">{{role.title}}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <span class="pull-right">
        <button mat-raised-button type="button" (click)="createUser()">
          <i class="fa fa-plus"></i> Add User</button>
      </span>
    </div>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm">
      <thead class="bg-secondary">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.emailAddress}}</td>
          <td>
            <a routerLink="/administration/users/roles/show/{{user.roleId}}">{{user.role.title}}</a>
          </td>
          <td>
            <input type="checkbox" [checked]="user.active" (change)="onActivateOrDeactivateUser(user)">
          </td>
          <td>
            <button title="Details" class="btn btn-info btn-xs" (click)="viewUser(user)">
              <i class="fa fa-eye"></i>
            </button>
            <button title="Details" class="btn btn-warning btn-xs" (click)="editUser(user)">
              <i class="fa fa-edit"></i>
            </button>
            <button title="Delete" [disabled]="user.id === loggedInUser.id" class="btn btn-danger btn-xs" (click)="deleteUser(user)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
