<ng-container [formGroup]="controlContainer.control" *ngIf="(countries$ | async) as countries; else loading">
  <!-- address-type input-->
  <div class="form-group">
    <label class="control-label" for="addressType">
      {{'lang_131' | translate}}
    </label>
    <div class="controls">
      <select [(ngModel)]="address.type" formControlName="addressType" id="addressType" name="addressType" class="form-control">
        <option value="{{'lang_132' | translate}}">
          {{'lang_2' | translate}}
        </option>
        <option value="{{'lang_133' | translate}}">
          {{'lang_204' | translate}}
        </option>
      </select>
      <p class="help-block text-muted">{{'lang_198' | translate}}</p>
    </div>
  </div>
  <!-- address-line1 input-->
  <div class="form-group">
    <label class="control-label" for="addressLine1">
      {{'lang_129' | translate}}
    </label>
    <div class="controls">
      <input [(ngModel)]="address.line_1" formControlName="addressLine1" id="addressLine1" name="addressLine1" type="text" class="form-control">
      <p class="help-block text-muted">
        {{'lang_199' | translate}}
      </p>
    </div>
  </div>
  <!-- address-line2 input-->
  <div class="form-group">
    <label class="control-label" for="addressLine2">
      {{'lang_130' | translate}}
    </label>
    <div class="controls">
      <input [(ngModel)]="address.line_2" formControlName="addressLine2" id="addressLine2" name="addressLine2" type="text" class="form-control">
      <p class="help-block text-muted">
        {{'lang_200' | translate}}
      </p>
    </div>
  </div>
  <!-- city input-->
  <div class="form-group">
    <label class="control-label" for="city">
      {{'lang_201' | translate}}
    </label>
    <div class="controls">
      <input [(ngModel)]="address.city" formControlName="city" id="city" name="city" type="text" class="form-control">
      <p class="help-block text-muted"></p>
    </div>
  </div>
  <!-- region input-->
  <div class="form-group">
    <label class="control-label" for="state">
      {{'lang_202' | translate}}
    </label>
    <div class="controls">
      <input [(ngModel)]="address.state" formControlName="state" id="state" name="state" type="text" class="form-control">
      <p class="help-block text-muted"></p>
    </div>
  </div>
  <!-- zip-code input-->
  <div class="form-group">
    <label class="control-label" for="zip">
      {{'lang_203' | translate}}
    </label>
    <div class="controls">
      <input [(ngModel)]="address.zip" formControlName="zip" id="zip" name="zip" type="text" class="form-control">
      <p class="help-block text-muted"></p>
    </div>
  </div>
  <!-- country select -->
  <div class="form-group">
    <label class="control-label" for="country">
      {{'lang_125' | translate}}
    </label>
    <div class="controls">
      <select [(ngModel)]="address.countryId" id="country" formControlName="country" name="country" class="form-control select2">
        <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
