<h3 class="has-divider text-highlight">
  <span>{{'lang_252' | translate}}</span>
  <span class="text-muted">
    {{instructor.title}} {{instructor.firstName}} {{instructor.lastName}}
  </span>
</h3>
<div class="page-row panel panel-body enrolment" *ngFor="let lesson of lessons">
  <div class="col-md-3 col-sm-5 col-xs-6">
    <a routerLink="/lessons/show/{{lesson.slug}}">
      <img src="assets/uploads/{{lesson.avatar}}" class=" img-thumbnail lesson-img" />
    </a>
  </div>
  <div class="col-md-9 col-sm-7 col-xs-6">
    <h4 class="text-highlight">
      <a routerLink="/lessons/show/{{lesson.slug}}">
        {{lesson.title}}
      </a>
    </h4>
    <h5 class=" text-highlight">
      <span *ngIf="dt.compareWithNow(lesson.startsOn)">{{'lang_236' | translate}} - </span>
      <span *ngIf="!dt.compareWithNow(lesson.startsOn)">{{'lang_84' | translate}} - </span>
      <span>{{lesson.startsOn | date:'mediumDate'}}</span>
    </h5>
    <h5 class=" text-highlight">
      <span *ngIf="dt.compareWithNow(lesson.endsOn)">{{'lang_233' | translate}} - </span>
      <span *ngIf="!dt.compareWithNow(lesson.endsOn)">{{'lang_85' | translate}} - </span>
      <span>{{lesson.endsOn | date:'mediumDate'}}</span>
    </h5>
    <p class=" text-highlight">
      <span class="pull-right">
        <button mat-raised-button color="accent" routerLink="/account/classroom/{{lesson.slug}}">{{'lang_256' | translate}}</button>
        <button mat-raised-button color="primary" routerLink="/lessons/show/{{lesson.slug}}">
          <span *ngIf="dt.compareWithNow(lesson.endsOn)">{{'lang_234' | translate}}</span>
          <span *ngIf="!dt.compareWithNow(lesson.endsOn)">{{'lang_235' | translate}}</span>
        </button>
      </span>
    </p>
  </div>
</div>
