<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<div class="row page-row" *ngIf="!loading">
  <div class="col-md-3">
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-stacked " role="tablist">
      <li role="presentation" routerLinkActive="active current">
        <a routerLink="/instructors/all">
          <span>{{'lang_69' | translate}}</span>
          <span class="fa fa-angle-right pull-right"></span>
        </a>
      </li>
      <li role="presentation" *ngFor="let subject of subjects" routerLinkActive="active current">
        <a routerLink="/instructors/{{subject.slug}}">
          <span>{{subject.title}}</span>
          <span class="fa fa-angle-right pull-right"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <h1 class="has-divider">
      <span *ngIf="currentSubject !== null">{{currentSubject.title}}</span>
      <span>Instructors</span>
    </h1>
    <div class="panel panel-body" *ngFor="let instructor of instructors">
      <div class="col-sm-2 col-xs-2">
        <img class="img-circle" src="/assets/images/{{instructor.avatar}}" width="80" height="80" />
      </div>
      <div class="col-sm-5 col-xs-5">
        <h2>{{instructor.title}} {{instructor.firstName}} {{instructor.lastName}}</h2>
        <h3>{{instructor.qualification}}</h3>
        <h4>
          <span>
            <b>{{'lang_78' | translate }}:</b>
          </span>
          <span>{{instructor.institution}}</span>
        </h4>
        <h4>
          <span>
            <b>{{'lang_112' | translate }}:</b>
          </span>
          <span>{{getSubjects(instructor.lessons)}}</span>
        </h4>
        <h4>
          <span>
            <b>{{'lang_113' | translate }}:</b>
          </span>
          <span>{{instructor.experience}}
            <span>{{'lang_231' | translate | lowercase}}</span>
          </span>
        </h4>
      </div>
      <div class="col-sm-5 col-xs-5">
        <h4>
          <span>
            <b>{{'lang_117' | translate}}: </b>
          </span>
          &nbsp;
          <span>{{completedLessons(instructor.lessons)}}</span>
          <span>{{'lang_18' | translate | lowercase}}</span>
        </h4>
        <h4>
          <span>
            <b>{{'lang_118' | translate}}: </b>
          </span>
          &nbsp;
          <span>{{upcomingLessons(instructor.lessons)}}</span>
          <span>{{'lang_18' | translate | lowercase}}</span>
        </h4>
        <h4>
          <span>
            <b>{{'lang_181' | translate}}: </b>
          </span>
          &nbsp;
          <span>
            <b>5.0</b>
          </span>
        </h4>
        <hr>
        <h4>
          <button mat-raised-button color="warn" (click)="viewTutorProfile(instructor)">{{'lang_111' | translate}}</button>
        </h4>
      </div>
    </div>
  </div>
</div>
