<div class="card panel panel-default">
  <div class="panel-heading">
    <div class="h3">{{title}}</div>
  </div>
  <div class="panel-body">
    <table class=" table">
      <tr>
        <td>11th Standard (Class Five)</td>
        <td>
          <a routerLink="/lessons/class5">
            <span class="badge badge-info pull-right">12</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>12th Standard (Class Six)</td>
        <td>
          <a routerLink="/lessons/class6">
            <span class="badge badge-info pull-right">30</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="panel-footer">
  </div>
</div>
