<div class="panel panel-body" *ngIf="student !== null; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-edit"></i>
      <span>{{'lang_278' | translate}}</span>
      [
      <span class="text-muted">{{student.firstName}} {{student.lastName}}</span>]
      <span class="pull-right">
        <button mat-raised-button type="button" (click)="backToList()">
          <i class="fa fa-list"></i> {{'lang_266' | translate}}</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="studentForm" autocomplete="off" novalidate>
      <mat-tab-group>
        <mat-tab label="Basic Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="firstName">
                  First Name
                  <span class="error">*</span>
                </label>
                <input [(ngModel)]="student.firstName" formControlName="firstName" type="text" class="form-control" placeholder="First name"
                  id="firstName" required autofocus>
                <span class="error" *ngIf="studentForm.get('firstName').touched && studentForm.get('firstName').invalid">First name is empty or contains an invalid value.</span>
              </div>
              <div class="form-group">
                <label for="lastName">
                  Last Name
                  <span class="error">*</span>
                </label>
                <input [(ngModel)]="student.lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last name"
                  id="lastName" required>
                <span class="error" *ngIf="studentForm.get('lastName').touched && studentForm.get('lastName').invalid">Last name is empty or contains an invalid value.</span>
              </div>
              <!--//form-group-->
              <div class="form-group phone">
                <label for="phone">Phone</label>
                <input [(ngModel)]="student.phoneNumber" formControlName="phoneNumber" type="tel" class="form-control" placeholder="Enter your phone number"
                  id="phoneNumber">
                <span class="error" *ngIf="studentForm.get('phoneNumber').invalid">Phone is empty or contains an invalid value.</span>
              </div>
              <!--//form-group-->
              <div class="form-group joinDate">
                <label for="joinDate">Join Date</label>
                <input [(ngModel)]="student.joinDate" formControlName="joinDate" type="date" class="form-control" max="{{now | date:'yyyy-MM-dd'}}"
                  id="joinDate">
                <span class="error" *ngIf="studentForm.get('joinDate').invalid">Join Date contains an invalid value.</span>
              </div>
              <!--//form-group-->
              <div class="form-group gender">
                <label for="gender">Gender</label>
                <select [(ngModel)]="student.gender" formControlName="gender" class="form-control" id="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </fieldset>
          </div>
        </mat-tab>

        <mat-tab label="Login Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group emailAddress">
                <label for="emailAddress">
                  Email Address
                  <span class="error">*</span>
                </label>
                <input [(ngModel)]="student.emailAddress" formControlName="emailAddress" type="email" class="form-control" placeholder="Enter your email address"
                  id="emailAddress" required>
                <span class="error" *ngIf="studentForm.get('emailAddress').touched && studentForm.get('emailAddress').invalid">Email address is empty or contains an invalid value.</span>
              </div>
              <!--//form-group-->
              <div class="form-group username">
                <label for="username">
                  Username
                  <span class="error">*</span>
                </label>
                <input [(ngModel)]="student.username" formControlName="username" type="text" class="form-control" placeholder="Enter your username"
                  id="username" required>
                <span class="error" *ngIf="studentForm.get('username').touched && studentForm.get('username').invalid">Username is empty or contains an invalid value.</span>
              </div>
              <!--//form-group-->
            </fieldset>
          </div>
        </mat-tab>

        <mat-tab label="Address">
          <div class="mat-tab-content">
            <fieldset>
              <app-address formGroupName="studentAddress" [address]="student.address"></app-address>
            </fieldset>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="form-group">
        <span class="pull-right">
          <button mat-raised-button (click)="updateStudent()" type="button" color="primary" [disabled]="studentForm.invalid || studentForm.pending">
            {{'lang_265' | translate}}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
