<div class="panel panel-body" *ngIf="(lessons$ | async) as lessons">
  <div class="page-row">
    <div class="col-md-3">
      <h3>
        <i class="fa fa-list"></i>
        <span>Lessons List</span>
      </h3>
    </div>
    <div class="col-md-6">
      <label>Filter by Subject: </label>
      <select [(ngModel)]="subjectId" class="form-control" (change)="onFilterBySubjects()">
        <option value="0">All</option>
        <option *ngFor="let subject of subjects$ | async" value="{{subject.id}}">{{subject.title}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <span class="pull-right">
        <button mat-raised-button type="button" class="warn" (click)="addLesson()">
          <i class="fa fa-plus"></i>&nbsp;Add Lesson</button>
      </span>
    </div>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm">
      <thead class="bg-gray">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Slug</th>
          <th>Subject</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lesson of lessons; let i = index">
          <td>{{i+1}}</td>
          <td>{{lesson.title}}</td>
          <td>{{lesson.slug}}</td>
          <td>
            <a routerLink="/administration/subjects/show/{{lesson.subjectId}}">{{lesson.subject.title}}</a>
          </td>
          <td>
            <button title="Details" (click)="viewLesson(lesson)" class="btn btn-info btn-xs">
              <i class="fa fa-eye"></i>
            </button>
            <button title="Edit" (click)="editLesson(lesson)" class="btn btn-warning btn-xs">
              <i class="fa fa-pencil"></i>
            </button>
            <button title="Delete" (click)="deleteLesson(lesson)" class="btn btn-danger btn-xs">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
