<ng-container *ngIf="(student$ | async) as student; else loading">
  <div class="panel panel-body">
    <div class="page-row">
      <h3>
        <i class="fa fa-user"></i>
        <span>{{student.firstName}} {{student.lastName}}</span>
        <span class="pull-right">
          <button mat-raised-button color="warn" (click)="editStudent(student)">
            <i class="fa fa-edit"></i> {{'lang_98' | translate}}
          </button>
          <button mat-raised-button (click)="backToList()">
            <i class="fa fa-list"></i> {{'lang_266' | translate}}
          </button>
        </span>
      </h3>
    </div>
    <div class="page-row">
      <dl>
        <dt class="col-sm-2">Photo: </dt>
        <dd class="col-sm-10">
          <legend>
            <img class="img-circle" src="/assets/images/{{student.avatar}}" width="50" height="50" />
          </legend>
        </dd>

        <dt class="col-sm-2">Contact: </dt>
        <dd class="col-sm-10">
          <legend>
            <span>Email: {{student.emailAddress}}</span>
            <br/>
            <span>Phone: {{student.phoneNumber}}</span>
          </legend>
        </dd>

        <dt class="col-sm-2">Account Info: </dt>
        <dd class="col-sm-10">
          <legend>
            <span>Join Date: {{student.joinDate | date:'dd/MM/yyyy'}}</span>
            <br/>
            <span>Username: {{student.username}}</span>
          </legend>
        </dd>

        <dt class="col-sm-2" *ngIf="student.address !== null">Address: </dt>
        <dd class="col-sm-10" *ngIf="student.address !== null">
          <legend>{{student.address.city}}&nbsp;{{student.address.country.name}}</legend>
        </dd>
      </dl>
    </div>
  </div>

  <div class="panel panel-body">
    <div class="page-row">
      <h3>
        <i class="fa fa-book"></i>&nbsp;
        <span>{{'lang_276' | translate}}</span>
        <span class="pull-right">
          <button mat-raised-button (click)="viewAllEnrolments()">
            <i class="fa fa-list"></i> {{'lang_277' | translate}}
          </button>
        </span>
      </h3>
    </div>
    <div class="page-row">
      <table class="table table-condensed table-striped table-sm">
        <thead class="bg-gray">
          <tr>
            <th>Date</th>
            <th>Lesson</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enrolment of enrolments$ | async">
            <td>{{enrolment.enrolmentDate | date:'dd/MM/yyyy'}}</td>
            <td>{{enrolment.lesson.title}}</td>
            <td>
              <input type="checkbox" [checked]="enrolment.active" disabled>
            </td>
            <td>
              <button class="btn btn-danger btn-xs" title="Delete" (click)="deleteEnrolment(enrolment)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
