<div class="container-fluid">
  <div *ngIf="loading" class="text-center">
    <app-spinner></app-spinner>
  </div>
  <div class="card mb-3" *ngIf="!loading">
    <div class="card-header">
      <i class="fa fa-audio-description"></i>
      <span>{{title}}</span>
      <span class="pull-right">
        <button type="button" class="btn btn-primary" (click)="createRole()">Add Role</button>
      </span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-condensed table-striped table-sm" id="rolesDataTable" width="100%" cellspacing="0">
          <thead class="bg-secondary">
            <tr>
              <th>Title</th>
              <th>Slug</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <td>{{role.title}}</td>
              <td>{{role.slug}}</td>
              <td>{{role.description}}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item btn-link" (click)="viewRole(role.id)">
                      <i class="fa fa-eye btn btn-info btn-sm"></i>&nbsp;View
                    </button>
                    <button class="dropdown-item btn-link" (click)="editRole(role.id)">
                      <i class="fa fa-edit btn btn-warning btn-sm"></i>&nbsp;Edit
                    </button>
                    <button class="dropdown-item btn-link" (click)="deleteRole(role.id)">
                      <i class="fa fa-remove btn btn-danger btn-sm"></i>&nbsp;Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot class="bg-secondary">
            <tr>
              <th>Title</th>
              <th>Slug</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <app-timer></app-timer>
    </div>
  </div>
</div>
