<div class="panel panel-body">
  <div class="page-row">
    <h3>
      <i class="fa fa-plus"></i>
      <span>New Enrolment</span>
      <span class="pull-right">
        <button mat-raised-button (click)="backToList()">
          <i class="fa fa-list"></i> {{'lang_266' | translate}}
        </button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="enrolmentForm" autocomplete="off">
      <div class="form-group">
        <label for="studentId" class=" control-label">Student</label>
        <select [(ngModel)]="enrolment.studentId" class="form-control" formControlName="studentId" id="studentId">
          <option *ngFor="let student of students$ | async" value="{{student.id}}">{{student.firstName}} {{student.lastName}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="lessonId" class=" control-label">Lesson</label>
        <select [(ngModel)]="enrolment.lessonId" class="form-control" formControlName="lessonId" id="lessonId">
          <option *ngFor="let lesson of lessons$ | async" value="{{lesson.id}}">{{lesson.title}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="enrolmentDate" class=" control-label">Enrolment Date</label>
        <input [(ngModel)]="enrolment.enrolmentDate" type="date" class="form-control" max="{{now | date:'yyyy-MM-dd'}}" formControlName="enrolmentDate"
          id="enrolmentDate">
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label for="active">
            <input type="checkbox" [(ngModel)]="enrolment.active" formControlName="enrolmentStatus" id="enrolmentStatus" checked> Active</label>
        </div>
      </div>

      <div class="form-group">
        <div class="pull-right">
          <button mat-raised-button type="button" color="primary" [disabled]="enrolmentForm.invalid || enrolmentForm.pending" (click)="createEnrolment()">
            {{'lang_264' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
