<div class="row page-row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center has-divider">{{'lang_244' | translate}}</h2>
    <mat-tab-group>
      <mat-tab label="Login As Student">
        <div class="mat-tab-content">
          <app-student-login></app-student-login>
        </div>
      </mat-tab>
      <mat-tab label="Login As Instructor">
        <div class="mat-tab-content">
          <app-instructor-login></app-instructor-login>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<!--//page-row-->
