.nav-item a.btn-login {
  /* background-color: #eea236; */
  background-color: #40e0d0;
  color: #FFFFFF;
}

.nav-item a.btn-register {
  /* background-color: #00CED1; */
  background-color: #D30D0B;
  color: #FFFFFF;
}

.logo {
  padding-bottom: 8px;
}
