<!-- ******NAV****** -->
<nav class="main-nav nav-wrp navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{{settingService.get('company_name')}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/{{settingService.get('company_logo')}}" alt="{{settingService.get('company_name')}}" width="180"
          height="50" class="logo" *ngIf="settingService.get('company_logo') !== null">
      </a>
      <!--//nav-toggle-->
    </div>
    <!--//navbar-header-->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav" style="padding-left: 20px;">
        <li class="nav-item dropdown" routerLinkActive="active current" *ngIf="subjects">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
            {{'lang_18' | translate}}
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let subject of subjects" routerLinkActive="active current">
              <a routerLink="/lessons/{{subject.slug}}/all">{{subject.title}}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active current">
          <a routerLink="/instructors/all">{{'lang_239' | translate}}</a>
        </li>

      </ul>
      <ng-template [ngIf]="authService.isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown" [class.active]="router.isActive('/account/dashboard') || 
          router.isActive('/account/classroom') || 
          router.isActive('/account/profile') || 
          router.isActive('/account/my-lessons') || 
          router.isActive('/account/settings')">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="assets/images/{{authService.getUser().avatar}}" width="20" height="20" class="img-circle" />
              <span>{{authService.getUser().username}}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-right">
              <li routerLinkActive="active current">
                <a routerLink="/account/profile">
                  <i class="fa fa-info-circle"></i>&nbsp;{{'lang_17' | translate}}</a>
              </li>
              <li routerLinkActive="active current">
                <a routerLink="/account/my-lessons">
                  <i class="fa fa-book"></i>&nbsp;{{'lang_18' | translate}}</a>
              </li>
              <li style="cursor: pointer;">
                <a (click)="authService.logout()">
                  <i class="fa fa-sign-out"></i>&nbsp;{{'lang_13' | translate}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-template>

      <ng-template [ngIf]="!authService.isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item" id="btnLogin">
            <button routerLink="/login" class="btn btn-outline-login">
              <i class="fa fa-lock"></i>&nbsp;{{'lang_5' | translate}}</button>
          </li>
          <li class="nav-item" id="btnRegister">
            <button routerLink="/register" class="btn btn-outline-register">
              <i class="fa fa-user-plus"></i>&nbsp;{{'lang_6' | translate}}</button>
          </li>
        </ul>
        <!--//nav-->
      </ng-template>

    </div>
    <!--//navabr-collapse-->
  </div>
  <!--//container-->
</nav>
<!--//main-nav-->
