<div class="panel panel-body" *ngIf="(subject$ | async) as subject; else loading">
  <div class="page-row">
    <h3>
      <span>
        <i class="fa fa-book"></i> Subject [
        <span class="text-muted">{{subject.title}}</span> ]
      </span>
      <span class="pull-right">
        <button mat-raised-button color="warn" (click)="editSubject(subject.id)">
          <i class="fa fa-edit"></i>&nbsp;Edit
        </button>
        <button mat-raised-button (click)="backToList()">
          <i class="fa fa-list"></i>&nbsp;{{'lang_266' | translate}}
        </button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <dl>
      <dt class="col-sm-2">Title</dt>
      <dd class="col-sm-10">
        <legend>{{subject.title}}</legend>
      </dd>

      <dt class="col-sm-2">Slug</dt>
      <dd class="col-sm-10">
        <legend>{{subject.slug}}</legend>
      </dd>

      <dt class="col-sm-2">Description</dt>
      <dd class="col-sm-10">
        <legend>{{subject.description}}</legend>
      </dd>
    </dl>
  </div>
</div>
<div class=" dropdown-divider"></div>
<div class="panel panel-body">
  <div class="page-row">
    <h3>
      <span>
        <i class="fa fa-list"></i>&nbsp;
        <span>Lessons</span>
      </span>
      <span class="pull-right">
        <button mat-raised-button (click)="allLessons()">
          <i class="fa fa-list"></i>&nbsp;All Lessons</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm">
      <thead class="bg-gray">
        <tr>
          <th>Title</th>
          <th>Slug</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lesson of lessons$ | async">
          <td>{{lesson.title}}</td>
          <td>{{lesson.slug}}</td>
          <td>
            <img src="/assets/uploads/{{lesson.avatar}}" width="50" height="50" class="img-thumbnail" />
          </td>
          <td>
            <button title="Details" class="btn btn-info btn-xs" (click)="viewLesson(lesson.id)">
              <i class="fa fa-eye"></i>
            </button>
            <button title="Edit" class="btn btn-warning btn-xs" (click)="editLesson(lesson.id)">
              <i class="fa fa-edit"></i>
            </button>
            <button title="Delete" class="btn btn-danger btn-xs" (click)="deleteLesson(lesson.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
