<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<div class="page-row" *ngIf="!loading">
  <div class="panel panel-body">
    <form [formGroup]="studentLoginForm" (ngSubmit)="accountLogin()" autocomplete="off" novalidate>
      <div class="alert alert-danger alert-dismissable text-center clearfix" *ngIf="loginError">
        <span class="fa fa-warning fa-2x pull-left"></span>
        <span class="text-uppercase large">
          <b>{{loginErrorMessage}}</b>
        </span>
      </div>
      <fieldset>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-envelope"></span>
            </span>
            <input [(ngModel)]="credentials.loginName" type="text" formControlName="loginName" class="form-control input-lg" placeholder="{{'lang_183' | translate }}"
              required autofocus />
          </div>
          <span class="required" *ngIf="studentLoginForm.get('loginName').touched && studentLoginForm.get('loginName').invalid">{{'lang_151' | translate}}</span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="fa fa-lock" style="padding-right: 10px;"></span>
            </span>
            <input [(ngModel)]="credentials.loginPassword" type="password" formControlName="loginPassword" class="form-control input-lg"
              placeholder="{{'lang_184' | translate }}" required autocomplete="off" />
          </div>
          <span class="required" *ngIf="studentLoginForm.get('loginPassword').touched && studentLoginForm.get('loginPassword').invalid">{{'lang_186' | translate }}</span>
        </div>
        <div class="form-group">
          <div class="col-sm-6 pull-left">
            <a routerLink='/account/student/reset-password' class="btn btn-link">{{'lang_110' | translate}}</a>
          </div>
          <div class="col-sm-6 pull-right">
            <button class="btn btn-login btn-lg btn-block" type="submit" [disabled]="studentLoginForm.invalid || studentLoginForm.pending">{{'lang_245' | translate }}</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
