.chat {
  border: 1px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */

.chat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */

.chat img {
  float: left;
  max-width: 40px;
  margin-right: 10px;
}

/* Style the right image */

.chat img.right {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

/* Style time text */

.time-right {
  color: #aaa;
}

/* Style time text */

.time-left {
  color: #999;
}

.participantComment {
  background: #fffaf3;
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 7px;
}

.participantImg {
  max-width: 75px;
  max-height: 75px;
  float: left;
  margin: 5px 0 0 10px;
  border-radius: 50%;
}

.commentContainer {
  width: 100%;
  height: auto;
  float: left;
  padding: 0 5px 5px 20px;
  margin: 10px 0;
}

.participantName {
  font-weight: 600;
  color: #c79760;
  text-transform: uppercase;
  font-size: 16px;
}

.participantType {
  color: #333 !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  display: inline-block;
  margin: -14px 0 0 0;
  text-transform: none;
}

.commentDate {
  text-align: right;
  color: #333;
  font-size: 11px;
  font-weight: 400;
  float: right;
  margin: 0;
}

.messageBox {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  font-size: 16px;
  /* margin: 10px 0; */
}
