<div class="panel panel-default">
  <div class="panel-heading">
    <h5>
      <a data-toggle="collapse" href="#chat_form">{{'lang_258' | translate}}</a>
    </h5>
  </div>
  <div id="chat_form" class="panel-collapse collapse">
    <div class="panel-body">
      <form [formGroup]="chatForm" novalidate>
        <fieldset>
          <div class="form-group">
            <textarea [(ngModel)]="chat.message" formControlName="message" name="message" id="message" rows="3" class="form-control"
              placeholder="Type your message..." aria-label="Type your message..." maxlength="600"></textarea>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <label>
                <span class="fa fa-paperclip"></span> Attach files
              </label>
              <input type="file" placeholder="Attach files" name="chatFiles" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                (change)="onFileSelected($event)" />
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="panel-footer clearfix">
      <span class="text-muted">{{chat.message.length}}/600 words</span>
      <div class="form-group pull-right">
        <button mat-raised-button color="warn" (click)="uploadFile()" [disabled]="chat.message.length < 2">
          <span>
            <i class="fa fa-reply"></i> {{'lang_259' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>

<h3 class="no-margin-bottom has-divider-solid text-highlight">
  {{'lang_257' | translate}}
  <span class="small text-muted">({{chats.length}})</span>
</h3>
<div *ngFor="let c of chunkedChats" class="row page-row participantComment">
  <div class="col-xs-1">
    <img *ngIf="c.studentId !== null" src="/assets/images/{{c.student.avatar}}" class="img-circle" width="50" height="50">
    <img *ngIf="c.instructorId !== null" src="/assets/images/{{c.instructor.avatar}}" class="img-circle" width="50" height="50">
  </div>
  <div class="col-xs-11">
    <p class="participantName">
      <span *ngIf="c.studentId !== null">{{c.student.username}}</span>
      <span *ngIf="c.instructorId !== null">{{c.instructor.username}}</span>
      <span class="participantType">
        <span *ngIf="c.studentId !== null && c.studentId !== user.id" class="text-muted">(Student)</span>
        <span *ngIf="c.instructorId !== null && c.instructorId !== user.id" class="text-muted">(Instructor)</span>
      </span>
      <span class="commentDate text-muted">{{ c.createdAt | date:'short' }}</span>
    </p>
    <p class="messageBox">{{ c.message }}</p>
    <p class="fileUrl" *ngIf="c.fileUrl && c.fileName">
      <a href="{{ c.fileUrl }}" target="__blank">{{ c.fileName }}</a>
    </p>
  </div>
</div>
<p class="pull-right" *ngIf="chunkedChats.length < chats.length">
  <span (click)="chunkChats(true)" class="btn-link">Load more...</span>
</p>
