<div class="panel panel-body" *ngIf="(instructors$ | async) as instructors">
  <div class="page-row">
    <h3>
      <i class="fa fa-users"></i>
      <span>{{'lang_268' | translate}}</span>
      <span class="pull-right">
        <button mat-raised-button (click)="createInstructor()">
          <i class="fa fa-plus"></i> {{'lang_270' | translate}}</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm" id="instructorDataTable" width="100%" cellspacing="0">
      <thead class="bg-gray">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Institution</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let instructor of instructors">
          <td>{{instructor.firstName}} {{instructor.lastName}}</td>
          <td>{{instructor.emailAddress}}</td>
          <td>{{instructor.phoneNumber}} </td>
          <td>{{ instructor.institution }}</td>
          <td>
            <input type="checkbox" [(ngModel)]="instructor.active" (change)="onStatusChanged(instructor.id)">
          </td>
          <td>
            <button class="btn btn-info btn-xs" title="Details" (click)="viewInstructor(instructor.id)">
              <i class="fa fa-eye"></i>&nbsp;
            </button>
            <button class="btn btn-warning btn-xs" title="Edit" (click)="editInstructor(instructor.id)">
              <i class="fa fa-edit"></i>&nbsp;</button>
            <button class="btn btn-danger btn-xs" title="Delete" (click)="deleteInstructor(user.id)">
              <i class="fa fa-trash"></i>&nbsp;
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
