<div class="panel panel-body" *ngIf="(lessonModule$ | async) as lessonModule; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-code-fork"></i> [{{lessonModule.lesson.title}}: {{lessonModule.title}}]
      <span class="pull-right">
        <button mat-raised-button (click)="backToList(lessonModule.lesson)">
          <i class="fa fa-list"></i>&nbsp;Back To List</button>
      </span>
    </h3>
  </div>
  <div class="page-row">

  </div>
  <div class="page-row">
    <app-lesson-comment-create [lesson]="lessonModule.lesson" [lessonModule]="lessonModule"></app-lesson-comment-create>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
