<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template [ngIf]="!loading">
  <app-student-lessons *ngIf="student !== null" [student]="student" [lessons]="lessons" [enrolments]="enrolments">
  </app-student-lessons>
  <app-instructor-lessons *ngIf="instructor !== null" [instructor]="instructor" [lessons]="lessons"></app-instructor-lessons>
</ng-template>
