<ng-container *ngIf="(lesson$ | async) as lesson; else loading">
  <div class="panel panel-body">
    <div class="page-row">
      <h3>
        <i class="fa fa-book"></i> {{lesson.subject.title}} [
        <span class="text-muted">{{lesson.title}}</span> ]
        <span class="pull-right">
          <button mat-raised-button color="warn" (click)="editLesson(lesson)">
            <i class="fa fa-edit"></i>&nbsp;Edit
          </button>
          <button mat-raised-button (click)="backToList()">
            <i class="fa fa-list"></i>&nbsp;Back To List</button>
        </span>
      </h3>
    </div>
    <div class="page-row">
      <dl>
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">
          <legend>{{lesson.title}}</legend>
        </dd>

        <dt class="col-sm-2">Slug</dt>
        <dd class="col-sm-10">
          <legend>{{lesson.slug}}</legend>
        </dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">
          <legend>{{lesson.description}}</legend>
        </dd>

        <dt class="col-sm-2">Outline</dt>
        <dd class="col-sm-10">
          <legend>{{lesson.outline}}</legend>
        </dd>

        <dt class="col-sm-2">Outcome</dt>
        <dd class="col-sm-10">
          <legend>{{lesson.outcome}}</legend>
        </dd>

        <dt class="col-sm-2">Prerequisites</dt>
        <dd class="col-sm-10">
          <legend>
            <h5 *ngFor="let prerequisite of prerequisites$ | async">
              <a routerLink="/administration/lessons/show/{{prerequisite.id}}">{{prerequisite.title}}</a>
            </h5>
          </legend>
        </dd>

        <dt class="col-sm-2">Instructors</dt>
        <dd class="col-sm-10">
          <h5 *ngFor="let instructor of lessonInstructors$ | async">
            <span>{{instructor.title}}</span>&nbsp;
            <span>{{instructor.firstName}}</span>&nbsp;
            <span>{{instructor.lastName}}</span>,&nbsp;
            <span>{{instructor.qualification}}</span>
          </h5>
        </dd>

      </dl>
    </div>
  </div>

  <div class="panel panel-body">
    <app-lesson-module-list [lesson]="lesson"></app-lesson-module-list>
  </div>

  <div class="panel panel-body">
    <div class="page-row">
      <h3>
        <i class="fa fa-list"></i>
        <span>Enrolments</span>
        <span class="pull-right">
          <button mat-raised-button (click)="viewAllEnrolments()">
            <i class="fa fa-list"></i> View All Enrolments</button>
        </span>
      </h3>
    </div>
    <div class="page-row">
      <table class="table table-condensed table-striped table-hover">
        <thead class="bg-gray">
          <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enrolment of lessonEnrolments$ | async">
            <td>{{enrolment.enrolmentDate | date:'dd/MM/yyyy'}}</td>
            <td>{{enrolment.student.firstName}} {{enrolment.student.lastName}}</td>
            <td>
              <input type="checkbox" [checked]="enrolment.active" disabled>
            </td>
            <td>
              <button class="btn btn-danger btn-xs" title="Delete" (click)="deleteEnrolment(enrolment)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="page-row">
    <app-lesson-comment-create [lesson]="lesson"></app-lesson-comment-create>
  </div>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
