<ng-template [ngIf]="loading">
  <div style="text-align: center;">
    <img src="/assets/images/spinner.gif">
  </div>
</ng-template>
<div class="row page-row" *ngIf="!loading">
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="card panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">LIVE BROADCAST</span>
            <div class="pull-right">
              <span *ngIf="client.type === 'instructor' && hasJoined">
                <button class="btn btn-primary btn-sm" (click)="enableShareScreen()">Share Screen</button>
              </span>
              &nbsp;
              <span *ngIf="client.type === 'learner' && hasJoined" title="Exit Class" class="">
                <button class="btn btn-danger" (click)="exitClass()">
                  <i class="fa fa-eject"></i>Exit Class
                </button>
              </span>
            </div>
          </div>
          <div class="panel-body">
            <div *ngIf="client.type === 'learner' && hasJoined">
              <video id="remoteVideo" width="100%" autoplay></video>
            </div>
          </div>
          <div class="panel-footer clearfix text-center">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <!--Video Streams-->
      <div class="panel panel-default" *ngIf="client.type === 'instructor' && hasJoined">
        <div class="panel-heading clearfix" role="tab" id="streamsPanel">
          <span class="panel-title col-xs-6">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseStreams" aria-expanded="true" aria-controls="collapseStreams">
              Video Streams
            </a>
          </span>
          <div class="col-xs-6">
            <span *ngIf="hasJoined && !isLive" title="Start Class" class="">
              <button class="btn btn-success" (click)="startBroadcast()">
                <i class="fa fa-play"></i>
              </button>
            </span>
            &nbsp;
            <span *ngIf="hasJoined && isLive && !paused" title="Pause" class="">
              <button class="btn btn-warning" (click)="pauseBroadcast()">
                <i class="fa fa-pause"></i>
              </button>
            </span>
            <span *ngIf="hasJoined && isLive && paused" title="Resume" class="">
              <button class="btn btn-info" (click)="resumeBroadcast()">
                <i class="fa fa-play"></i>
              </button>
            </span>
            &nbsp;
            <span *ngIf="hasJoined && isLive" title="Stop" class="">
              <button class="btn btn-danger" (click)="stopBroadcast()">
                <i class="fa fa-stop"></i>
              </button>
            </span>
            &nbsp;
            <span *ngIf="hasJoined" title="Exit Class" class="">
              <button class="btn btn-danger" (click)="exitClass()">
                <i class="fa fa-eject"></i>
              </button>
            </span>
          </div>
        </div>
        <div id="collapseStreams" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="streamsPanel">
          <div class="panel-body">
            <video id="videoPreview" width="100%" (pause)="pauseBroadcast()" (play)="resumeBroadcast()" (ended)="stopBroadcast()" autoplay></video>
          </div>
        </div>
      </div>
      <!--Attendance-->
      <div class="panel panel-default">
        <div class="panel-heading clearfix" role="tab" id="attendancePanel">
          <span class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAttendace" aria-expanded="false"
              aria-controls="collapseAttendace">
              Attendance
            </a>
          </span>
          <span class="pull-right">
            <span>Online:</span>
            <span class="badge badge-info">{{numberConnected}}</span>
          </span>
        </div>
        <div id="collapseAttendace" class="panel-collapse collapse" role="tabpanel" aria-labelledby="attendancePanel">
          <div class="panel-body">
            Attendance Content
          </div>
        </div>
      </div>
      <!--Chats-->
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="chatsPanel">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseChats" aria-expanded="false"
              aria-controls="collapseChats">
              Chats
            </a>
          </h4>
        </div>
        <div id="collapseChats" class="panel-collapse collapse" role="tabpanel" aria-labelledby="chatsPanel">
          <div class="panel-body">
            <app-chat></app-chat>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//page-row-->
