<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>

<div class="row page-row" *ngIf="!loading">
  <div class="col-md-3">
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-stacked " role="tablist">
      <li role="presentation" class="active">
        <a href="#profileData" aria-controls="profileData" role="tab" data-toggle="tab">
          <span>{{'lang_177' | translate}}</span>
          <span class="fa fa-angle-right pull-right"></span>
        </a>
      </li>
      <li role="presentation">
        <a href="#resume" aria-controls="resume" role="tab" data-toggle="tab">
          <span>{{'lang_176' | translate}}</span>
          <span class="fa fa-angle-right pull-right"></span>
        </a>
      </li>
      <li role="presentation">
        <a href="#lessons" aria-controls="lessons" role="tab" data-toggle="tab">
          <span>{{'lang_18' | translate}}</span>
          <span class="fa fa-angle-right pull-right"></span>
        </a>
      </li>
      <li role="presentation">
        <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">
          <span>{{'lang_179' | translate}}</span>
          <span class="fa fa-angle-right pull-right"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane clearfix active" id="profileData">
        <div class="col-md-6">
          <img class="img-circle" src="/assets/images/{{instructor.avatar}}" width="80" height="80" />
          <h2>{{instructor.title}} {{instructor.firstName}} {{instructor.lastName}}</h2>
          <h4>
            <span>
              <b>Education:</b>
            </span>
            <span>{{instructor.qualification}}</span>
          </h4>
          <h4>
            <span>
              <b>Specialization:</b>
            </span>
            <span>{{instructor.specialization}}</span>
          </h4>
          <h4>
            <span>
              <b>From:</b>
            </span>
            <span>{{instructor.institution}}</span>
          </h4>
          <h4>
            <span>
              <b>Experience:</b>
            </span>
            <span>{{instructor.experience}}
              <span>years</span>
            </span>
          </h4>
          <hr/>
          <h4 *ngIf="user !== null">
            <span>
              <button mat-raised-button type="button" data-toggle="modal" data-target="#userMessageModal">
                <i class="fa fa-envelope"></i> Send Message</button>
              &nbsp;
              <button mat-raised-button color="warn" (click)="onCall()">
                <i class="fa fa-phone"></i> Call</button>
            </span>
          </h4>
        </div>
        <div class="col-md-6">
          <h4>
            <b>
              <span>About</span>
              <span>{{instructor.title}} {{instructor.firstName}} {{instructor.lastName}}</span>
            </b>
          </h4>
          <blockquote>
            {{instructor.profile}}
          </blockquote>
          <hr>
          <h4>
            <b>
              <span>Address</span>
            </b>
          </h4>
          <ul class="list-unstyled" *ngFor="let address of instructor.addresses">
            <li>
              <span>Type: </span>
              <span class="text-muted">{{address.type}}</span>
              <br/>
              <span>Country: </span>
              <span class="text-muted">{{address.country}}</span>
              <br/>
              <span>City: </span>
              <span class="text-muted">{{address.city}}</span>
            </li>
          </ul>
          <hr/>
          <h4>
            <b>
              <span>Subjects Taught</span>
            </b>
          </h4>
          <h5 *ngFor="let subject of subjects">
            <span>{{subject.title}}</span>
            &nbsp;
            <span class="text-muted">
              ({{countLessonsBySubject(subject.id)}} lessons)
            </span>
          </h5>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane clearfix" id="resume">

      </div>
      <div role="tabpanel" class="tab-pane clearfix" id="lessons">
        <div class="col-md-12">
          <app-instructor-lessons [instructor]="instructor" [lessons]="lessons"></app-instructor-lessons>
          <!-- <table datatable class="table table-boxed row-border hover" id="dataTable">
            <thead>
              <tr>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lesson of lessons">
                <td>{{lesson.title}}</td>
                <td>{{lesson.startsOn}}</td>
                <td>{{lesson.endsOn}}</td>
                <td>
                  <span *ngIf="lesson.status === 'completed'" class="label label-warning">{{lesson.status}}</span>
                  <span *ngIf="lesson.status === 'ongoing'" class="label label-success">{{lesson.status}}</span>
                  <span *ngIf="lesson.status === 'upcoming'" class="label label-primary">{{lesson.status}}</span>
                </td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>

      <div role="tabpanel" class="tab-pane clearfix" id="reviews">

      </div>
    </div>

    <!-- <mat-tab-group>
      <mat-tab label="Profile Data">
        <div class="mat-tab-content">

        </div>
      </mat-tab>
      <mat-tab label="CV">
        <div class="mat-tab-content">

        </div>
      </mat-tab>
      <mat-tab label="Lessons">
        <div class="mat-tab-content">
          
        </div>
      </mat-tab>
      <mat-tab label="Reviews &amp; Ratings">
        <div class="mat-tab-content">

        </div>
      </mat-tab>
    </mat-tab-group> -->

    <!-- Modal -->
    <div *ngIf="user !== null" class="modal fade" id="userMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <app-send-message [userFrom]="user" [userTo]="instructor"></app-send-message>
    </div>
  </div>
</div>
