<span *ngIf="(lessonModules$ | async) as lessonModules; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-list"></i>
      <span>Modules</span>
      <span class="pull-right">
        <button mat-raised-button type="button" (click)="createLessonModule()">
          <i class="fa fa-plus"></i>&nbsp;Add Module</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <table id="lessonModulesDataTable" class="table table-condensed table-striped table-sm" width="100%" cellspacing="0">
      <thead class="bg-gray">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Date Time</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lessonModule of lessonModules; let i = index">
          <td>{{i+1}}</td>
          <td>
            {{lessonModule.title}}
          </td>
          <td>
            {{lessonModule.scheduleDate | date: 'dd/MM/yyyy'}}
            <br>
            <span class="small text-muted">{{lessonModule.startTime}}</span>
          </td>

          <td>{{lessonModule.duration}} mins</td>
          <td>
            <button title="Details" (click)="viewLessonModule(lessonModule)" class="btn btn-info btn-xs">
              <i class="fa fa-eye"></i>
            </button>
            <button title="Edit" (click)="editLessonModule(lessonModule)" class="btn btn-warning btn-xs">
              <i class="fa fa-pencil"></i>
            </button>
            <button title="Delete" (click)="deleteLessonModule(lessonModule)" class="btn btn-danger btn-xs">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</span>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
