<p *ngFor="let comment of lessonComments" class="row participantComment">
  <span class="col-xs-12">
    <h4 class="participantName">
      <span>{{comment.name}}</span>
      <span class="commentDate text-muted">{{ comment.createdAt | date:'short' }}</span>
    </h4>
    <h4 class="messageBox">{{ comment.body }}</h4>
  </span>
</p>
