.participantComment {
  background: #fffaf3;
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 7px;
}

.participantName {
  font-weight: 600;
  color: #c79760;
  text-transform: uppercase;
  font-size: 16px;
}

.commentDate {
  text-align: right;
  color: #333;
  font-size: 11px;
  font-weight: 400;
  float: right;
  margin: 0;
}

.messageBox {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  font-size: 16px;
  /* margin: 10px 0; */
}
