<div class="panel panel-body">
  <div class="page-row">
    <h3>
      <span>
        <i class="fa fa-plus"></i> {{title}}
      </span>
      <span class="pull-right">
        <button mat-raised-button (click)="backToList()">Back To List</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="subjectForm" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label for="subjectTitle" class=" control-label">Title</label>
          <input [(ngModel)]="subject.title" type="text" class="form-control" formControlName="title" id="subjectTitle" (keyup)="onTitleKeyup()"
            focused>
        </div>
        <div class="form-group">
          <label for="subjectSlug" class=" control-label">Slug</label>
          <input [(ngModel)]="subject.slug" type="text" class="form-control" formControlName="slug" id="subjectSlug" readonly>
        </div>
        <div class="form-group">
          <label for="subjectDescription" class=" control-label">Description</label>
          <input [(ngModel)]="subject.description" type="text" class="form-control" formControlName="description" id="subjectDescription">
        </div>
        <div class="form-group">
          <div class="pull-right">
            <button mat-raised-button color="primary" [disabled]="subjectForm.invalid || subjectForm.pending" (click)="createSubject()">
              {{'lang_264' | translate}}
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
