<div class="panel panel-body" *ngIf="(instructor$ | async) as instructor; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-user"></i>&nbsp;
      <span>{{instructor.title}} {{instructor.firstName}} {{instructor.lastName}}</span>
      <span></span>
      <span class="pull-right">
        <button mat-raised-button color="warn" (click)="editInstructor(instructor)">
          <i class="fa fa-edit"></i> Edit
        </button>
        <button mat-raised-button (click)="backToList()">
          <i class="fa fa-list"></i> {{'lang_266' | translate}}
        </button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <dl>
      <dt class="col-sm-2">Photo: </dt>
      <dd class="col-sm-10">
        <legend>
          <img class="img-circle" src="/assets/images/{{instructor.avatar}}" width="50" height="50" />
        </legend>
      </dd>

      <dt class="col-sm-2">Contact: </dt>
      <dd class="col-sm-10">
        <legend>
          <span>Email: {{instructor.emailAddress}}</span>
          <br/>
          <span>Phone: {{instructor.phoneNumber}}</span>
        </legend>
      </dd>

      <dt class="col-sm-2">Account Info: </dt>
      <dd class="col-sm-10">
        <legend>
          <span>Join Date: {{instructor.joinDate | date:'dd/MM/yyyy'}}</span>
          <br/>
          <span>Username: {{instructor.username}}</span>
        </legend>
      </dd>

      <dt class="col-sm-2">Education: </dt>
      <dd class="col-sm-10">
        <legend>
          <span>Qualification: {{instructor.qualification}}</span>
          <br/>
          <span>Specialization: {{instructor.specialization}}</span>
          <br/>
          <span>Exprience: {{instructor.experience}} years</span>
        </legend>
      </dd>

      <dt class="col-sm-2">Institution: </dt>
      <dd class="col-sm-10">
        <legend>
          <span>{{instructor.institution}}</span>
        </legend>
      </dd>

      <dt class="col-sm-2">Profile: </dt>
      <dd class="col-sm-10">
        <legend>
          <span>{{instructor.profile}}</span>
        </legend>
      </dd>

      <dt class="col-sm-2" *ngIf="instructor.address !== null">Address: </dt>
      <dd class="col-sm-10" *ngIf="instructor.address !== null">
        <legend>{{instructor.address.city}}&nbsp;{{instructor.address.country.name}}</legend>
      </dd>
    </dl>
  </div>
</div>

<div class="panel panel-body" *ngIf="(instructorLessons$ | async) as lessons; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-book"></i>&nbsp;
      <span>{{'lang_251' | translate}}</span>
      <span class="pull-right">
        <button mat-raised-button color="warn" (click)="lessonAssignments()">
          <i class="fa fa-gears"></i> {{'lang_274' | translate}}
        </button>
        <button mat-raised-button (click)="viewAllLessons()">
          <i class="fa fa-list"></i> {{'lang_271' | translate}}
        </button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm">
      <thead class="bg-gray">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Slug</th>
          <th>Subject</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lesson of lessons; let i = index">
          <td>{{i+1}}</td>
          <td>{{lesson.title}}</td>
          <td>{{lesson.slug}}</td>
          <td>
            <a routerLink="/administration/subjects/show/{{lesson.subjectId}}">{{lesson.subject.title}}</a>
          </td>
          <td>
            <button title="Details" (click)="viewLesson(lesson)" class="btn btn-info btn-xs">
              <i class="fa fa-eye"></i>
            </button>
            <button title="Edit" (click)="editLesson(lesson)" class="btn btn-warning btn-xs">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
