<div class="container-fluid">
  <div *ngIf="loading" class="text-center">
    <app-spinner></app-spinner>
  </div>
  <div class="card mb-3" *ngIf="!loading">
    <div class="card-header">
      <i class="fa fa-table"></i> {{title}}
      <span class="pull-right">
        <button type="button" class="btn btn-outline-dark" (click)="backToList()">Back To List</button>
      </span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form [formGroup]="permissionForm" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="permissionTitle" class=" control-label">Title</label>
              <div class="col12">
                <input [(ngModel)]="permission.title" type="text" class="form-control" formControlName="title" id="permissionTitle" (keyup)="onTitleKeyup()"
                  focused>
              </div>
            </div>
            <div class="form-group">
              <label for="permissionSlug" class=" control-label">Slug</label>
              <div class="col12">
                <input [(ngModel)]="permission.slug" type="text" class="form-control" formControlName="slug" id="permissionSlug" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="permissionDescription" class=" control-label">Description</label>
              <div class="col12">
                <textarea [(ngModel)]="permission.description" class="form-control" formControlName="description" id="permissionDescription"
                  rows="10"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <app-timer></app-timer>
      <div class="pull-right">
        <button type="button" [disabled]="permissionForm.invalid || permissionForm.pending" class="btn btn-success" (click)="updatePermission()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
