<div class="container-fluid">
  <div *ngIf="loading" class="text-center">
    <app-spinner></app-spinner>
  </div>
  <div class="card mb-3" *ngIf="!loading">
    <h1>Profile</h1>
  </div>
</div>
<!-- /.container-fluid-->
