<div class="panel panel-body" *ngIf="(subjects$ | async) as subjects; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-stack-exchange"></i>
      <span>{{title}}</span>
      <span class="pull-right">
        <button mat-raised-button (click)="backToList()">
          <i class="fa fa-list"></i> Back To List</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="lessonForm" autocomplete="off">
      <mat-tab-group>
        <mat-tab label="Basic Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="lessonSubject" class=" control-label">Choose Subject</label>
                <select [(ngModel)]="lesson.subjectId" class="form-control select2" formControlName="subjectId" id="lessonSubject" (change)="getPrerequisites()">
                  <option value="0">Select subject ...</option>
                  <option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="lessonTitle" class=" control-label">Title</label>
                <input [(ngModel)]="lesson.title" type="text" class="form-control" formControlName="title" id="lessonTitle" (keyup)="onTitleKeyup()"
                  focused>
              </div>
              <div class="form-group">
                <label for="lessonSlug" class=" control-label">Slug</label>
                <input [(ngModel)]="lesson.slug" type="text" class="form-control" formControlName="slug" id="lessonSlug" readonly>
              </div>
              <div class="form-group">
                <label for="lessonPrerequisites" class=" control-label">Prerequisites</label>
                <select [(ngModel)]="lessonPrerequisites" class="form-control select2" formControlName="prerequisite" id="lessonPrerequisites"
                  multiple>
                  <option *ngFor="let prerequisite of prerequisites$ | async" value="{{prerequisite.id}}">{{prerequisite.title}}</option>
                </select>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Description">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="lessonDescription" class=" control-label">Description</label>
                <textarea [(ngModel)]="lesson.description" class="form-control" formControlName="description" id="lessonDescription" rows="15"></textarea>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Outline">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="lessonOutline" class=" control-label">Outline</label>
                <textarea [(ngModel)]="lesson.outline" class="form-control" formControlName="outline" id="lessonOutline" rows="15"></textarea>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Outcome">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="lessonOutcome" class=" control-label">Outcome</label>
                <textarea [(ngModel)]="lesson.outcome" class="form-control" formControlName="outcome" id="lessonOutcome" rows="15"></textarea>
              </div>
            </fieldset>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="form-group">
        <span class="pull-right">
          <button mat-raised-button color="primary" type="button" [disabled]="lessonForm.invalid || lessonForm.pending" (click)="createLesson()">
            {{'lang_264' | translate}}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
