<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="fa fa-times" aria-hidden="true"></span>
      </button>
      <h4 class="modal-title" id="myModalLabel">
        {{'lang_174' | translate}}
      </h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="messageForm" autocomplete="off" novalidate>
        <fieldset>
          <div class="form-group fromUser">
            <label for="fromUser" class="control-label">
              {{'lang_78' | translate}}
            </label>
            <input type="text" class=" form-control input-sm" value="{{userFrom.firstName}} {{userFrom.lastName}}" formControlName="fromUser"
              placeholder="{{userFrom.firstName}} {{userFrom.lastName}}" id="fromUser" readonly>
          </div>
          <div class="form-group toUser">
            <label for="toUser" class="control-label">
              {{'lang_79' | translate}}
            </label>
            <input type="text" class=" form-control input-sm" value="{{userTo.firstName}} {{userTo.lastName}}" formControlName="toUser"
              placeholder="{{userTo.firstName}} {{userTo.lastName}}" id="toUser" readonly>
          </div>
          <div class="form-group subject">
            <label for="subject" class="control-label">
              {{'lang_55' | translate}}
              <span class=" text-danger">*</span>
            </label>
            <input [(ngModel)]="userMessage.subject" type="text" class="form-control input-sm" formControlName="subject" placeholder="{{'lang_223' | translate}}"
              id="subject" required>
            <span class="text-danger" *ngIf="messageForm.get('subject').touched && messageForm.get('subject').invalid">
              {{'lang_224' | translate}}
            </span>
          </div>
          <div class="form-group message">
            <label for="message" class="control-label">
              {{'lang_160' | translate}}
              <span class=" text-danger">*</span>
            </label>
            <app-longtext [formGroup]="messageForm" [id]="longTextId" [value]="userMessage.message" [required]="true" [placeholder]="placeholderText"
              (onValueChange)="onValueChanged($event)"></app-longtext>
            <span class="text-danger" *ngIf="messageForm.get('message').touched && (messageForm.get('message').invalid || messageForm.hasError('messageError'))">{{msgErr}}</span>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-register" type="button" data-dismiss="modal">
        {{'lang_102' | translate}}
      </button>
      <button class="btn btn-virttutor" (click)="onSendMessage()" [disabled]="messageForm.invalid || messageForm.pending || loading"
        type="button">
        {{'lang_108' | translate}}
        <span *ngIf="messageForm.valid && loading" class=" fa fa-spinner"></span>
      </button>
    </div>
  </div>
</div>
