<div class="panel panel-body" *ngIf="(subjects$ | async) as subjects; else loading">
  <div class="page-row">
    <h3>
      <span>
        <i class="fa fa-list"></i> {{title}}
      </span>
      <span class="pull-right">
        <button mat-raised-button (click)="createSubject()">
          <i class="fa fa-plus"></i> Create Subject</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm">
      <thead class="bg-gray">
        <tr>
          <th>Title</th>
          <th>Slug</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td>{{subject.title}}</td>
          <td>{{subject.slug}}</td>
          <td>{{subject.description}}</td>
          <td>
            <button title="Details" class="btn btn-info btn-xs" (click)="viewSubject(subject.id)">
              <i class="fa fa-eye"></i>
            </button>
            <button title="Edit" (click)="editSubject(subject.id)" class="btn btn-warning btn-xs">
              <i class="fa fa-edit"></i>
            </button>
            <button title="Delete" (click)="deleteSubject(subject.id)" class="btn btn-danger btn-xs">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
