<div class="row page-row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 Not Found</h2>
      <div class="error-details">
        Sorry, an error has occured, Requested page not found!
      </div>
      <div class="error-actions">
        <button mat-raised-button color="primary" (click)="goBack()">
          <span class="fa fa-backward"></span> Go Back </button>
        &nbsp;
        <button mat-raised-button routerLink="/">
          <span class="fa fa-home"></span>
          Take Me Home </button>

      </div>
    </div>
  </div>
</div>
