<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" autocomplete="off" novalidate>
  <legend class="h1">{{'lang_253' | translate}}</legend>
  <fieldset>
    <div class="form-group">
      <label for="oldPassword">{{'lang_50' | translate}}</label>
      <input [(ngModel)]="oldPassword" type="password" formControlName="oldPassword" class="form-control" required autocomplete="off"
      />
      <span class="error" *ngIf="changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').invalid">
        {{'lang_255' | translate}}
      </span>
    </div>
    <div formGroupName="newPassword">
      <div class="form-group">
        <label for="password1">{{'lang_51' | translate}}</label>
        <input [(ngModel)]="newPassword" type="password" formControlName="password1" class="form-control" id="password1" required
          autocomplete="off" />
        <span class="error" *ngIf="changePasswordForm.get('newPassword').get('password1').touched && changePasswordForm.get('newPassword').get('password1').invalid">
          {{'lang_255' | translate}}
        </span>
      </div>
      <div class="form-group">
        <label for="password2">{{'lang_52' | translate}}</label>
        <input type="password" formControlName="password2" class="form-control" id="password2" required autocomplete="off" />
        <span class="error" *ngIf="changePasswordForm.get('newPassword').touched && changePasswordForm.get('newPassword').hasError('nomatch')">
          {{'lang_254' | translate}}
        </span>
      </div>
    </div>
    <div class="form-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid || changePasswordForm.pending">
        {{'lang_39' | translate}}
      </button>
    </div>
  </fieldset>
</form>
