<div class="panel panel-body" *ngIf="user !== null; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-user-plus"> {{'lang_283' | translate}}</i>
      [
      <span>{{user.firstName}} {{user.lastName}}</span>]
      <span class="pull-right">
        <button mat-raised-button (click)="backToList()">
          <li class="fa fa-list"></li> {{'lang_266' | translate}}
        </button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="userForm" autocomplete="off">
      <mat-tab-group>
        <mat-tab label="Basic Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="firstName" class=" control-label">First Name</label>
                <input [(ngModel)]="user.firstName" type="text" class="form-control" formControlName="firstName" id="firstName" focused required>
              </div>
              <div class="form-group">
                <label for="lastName" class=" control-label">Last Name</label>
                <input [(ngModel)]="user.lastName" type="text" class="form-control" formControlName="lastName" id="lastName" required>
              </div>
              <div class="form-group">
                <label for="userEmail" class="control-label">Email Address</label>
                <input [(ngModel)]="user.emailAddress" type="email" class="form-control" formControlName="emailAddress" id="userEmail" required>
              </div>
              <div class="form-group joinDate">
                <label for="joinDate">Join Date</label>
                <input [(ngModel)]="user.joinDate" formControlName="joinDate" type="date" class="form-control" max="{{now | date:'yyyy-MM-dd'}}"
                  id="joinDate">
              </div>
              <!--//form-group-->
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Login Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="userRole" class=" control-label">Choose Role</label>
                <select [(ngModel)]="user.roleId" class="form-control select2" formControlName="roleId" id="userRole">
                  <option *ngFor="let role of roles$ | async" value="{{role.id}}">{{role.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input [(ngModel)]="user.username" type="text" class="form-control" formControlName="username" id="username" [readonly]="user.id === loggedInUser.id"
                  required>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label for="userStatus">
                    <input type="checkbox" [(ngModel)]="user.active" formControlName="userStatus" id="userStatus"> Active</label>
                </div>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Address Info">
          <div class="mat-tab-content">
            <fieldset>
              <app-address formGroupName="userAddress" [address]="user.address"></app-address>
            </fieldset>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="form-group">
        <div class="pull-right">
          <button mat-raised-button color="primary" type="button" [disabled]="userForm.invalid || userForm.pending" (click)="updateUser()">{{'lang_265' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
