<!-- ******FOOTER****** -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 text-center">
        <small class="copyright ">
          <span>{{'lang_77' | translate}} @ 2017</span>
          <span>{{settingService.get('company_name')}}</span>
        </small>
      </div>
      <div class="col-xs-2 text-center">
        <!-- <span *ngIf="isHidden" (click)="onCollapse()" title="Expand">
            <i class="fa fa-angle-double-up fa-3x go-top"></i>
          </span>
          <span *ngIf="!isHidden" (click)="onCollapse()" title="Collapse">
            <i class="fa fa-angle-double-down fa-3x go-top"></i>
          </span> -->
      </div>
      <div class="col-xs-4 text-center">
        <ul class="social pull-right">
          <li>
            <a href="{{settingService.get('company_twiter_page')}}" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="{{settingService.get('company_facebook_page')}}" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="{{settingService.get('company_youtube_page')}}" target="_blank">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="{{settingService.get('company_linkedin_page')}}" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="{{settingService.get('company_google_plus_page')}}" target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
        <!--//social-->
      </div>
      <div class="col-xs-2" onclick="jQuery('html,body').animate({ scrollTop: 0 }, 1200);">
        <span class="fa fa-angle-double-up fa-3x go-top pull-right"></span>
      </div>
    </div>
    <!--//row-->
  </div>
  <!--//container-->
</div>
<!--//bottom-bar-->
