.go-top {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    font-size: 30px;
    padding: 0.05em 0.3em 0.1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 999;
}

.card.panel{
    color: #000;
}