<div class="panel panel-body" *ngIf="(students$ | async) as students; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-users"></i>
      <span>Students List</span>
      <span class="pull-right">
        <button mat-raised-button type="button" (click)="createStudent()">
          <i class="fa fa-plus"></i>&nbsp;Add Student</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <table class="table table-condensed table-striped table-sm">
      <thead class="bg-gray">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Join Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.firstName}} {{student.lastName}}</td>
          <td>{{student.emailAddress}}</td>
          <td>{{student.phoneNumber}}</td>
          <td>{{student.joinDate | date:'yyyy/MM/dd'}}</td>
          <td>
            <button (click)="showStudent(student.id)" title="Details" class="btn btn-info btn-xs">
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="editStudent(student.id)" title="Edit" class="btn btn-warning btn-xs">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="deleteStudent(student.id)" title="Delete" class="btn btn-danger btn-xs">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
