<div class="page-row  has-divider">
  <ul class="list-group">
    <li class="list-group-item active">
      <span>Personal Information</span>
    </li>
    <li class="list-group-item">
      <h5>
        <span>Full Name: </span>
        <span class="pull-right">{{student.firstName}} {{student.lastName}}</span>
      </h5>
      <h5>
        <span>Username: </span>
        <span class="pull-right">{{student.username}}</span>
      </h5>
      <h5>
        <span>Email Address: </span>
        <span class="pull-right">{{student.emailAddress}}</span>
      </h5>
      <h5>
        <span>Phone Number: </span>
        <span class="pull-right">{{student.phoneNumber}}</span>
      </h5>
      <h5>
        <span>Address: </span>
        <span class="pull-right">
          <address></address>
        </span>
      </h5>
      <h5>
        <span>Status: </span>
        <span class="label label-success pull-right" *ngIf="student.active">active</span>

        <span class="badge badge-danger pull-right" *ngIf="!student.active">inactive</span>
      </h5>
      <h5>
        <span>{{'lang_242' | translate}} </span>
        <span class="pull-right">{{student.joinDate | date:'mediumDate'}}</span>
      </h5>
    </li>
  </ul>
</div>
<!--//page-row-->

<div class="page-row">
  <ul class="list-group">
    <li class="list-group-item active">
      <span>{{'lang_253' | translate}}</span>
    </li>
    <li class="list-group-item">
      <app-change-password [student]="student"></app-change-password>
    </li>
  </ul>
</div>
<!--//page-row-->
