<div class="wrapper" [class.adminLogin]="isAdmin && !authService.isAdminAuthenticated()">
  <!-- ***** HEADER  ***** -->
  <app-header></app-header>
  <!-- ***** NAVBAR  ***** -->
  <app-admin-navbar *ngIf="authService.isAdminAuthenticated()"></app-admin-navbar>
  <app-navbar *ngIf="!authService.isAdminAuthenticated() && !isAdmin"></app-navbar>
  <!-- ****** CONTENT ****** -->
  <div class="content" [class.container]="!isAdmin" [class.container-fluid]="isAdmin">
    <div class="page-wrapper">
      <div class="page-content">
        <ngx-flash-messages></ngx-flash-messages>
        <router-outlet></router-outlet>
      </div>
      <!--//page-content-->
    </div>
    <!--//page-wrapper-->
  </div>
  <!--//content-->
</div>
<!--//wrapper-->
<app-language></app-language>
<!-- ***** FOOTER  ***** -->
<footer class="footer">
  <app-footer></app-footer>
</footer>
<!--//footer-->
