<div class="row page-row" *ngIf="authService.isAdminAuthenticated(); else adminLogin">
  <div class=" col-sm-2">
    <ul class="nav nav-pills nav-stacked" id="exampleAccordion">
      <li routerLinkActive="active current" class="nav-item" data-toggle="tooltip" data-placement="right" title="Subjects">
        <a class="nav-link" routerLink="/administration/subjects">
          <i class="fa fa-fw fa-book"></i>
          <span class="nav-link-text">Subjects</span>
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" data-toggle="tooltip" data-placement="right" title="Lessons">
        <a class="nav-link" routerLink="/administration/lessons">
          <i class="fa fa-fw fa-list"></i>
          <span class="nav-link-text">Lessons</span>
        </a>
      </li>
      <li routerLinkActive="active current" class="nav-item" data-toggle="tooltip" data-placement="right" title="Students">
        <a class="nav-link" routerLink="/administration/students">
          <i class="fa fa-fw fa-users"></i>
          <span class="nav-link-text">Students</span>
        </a>
      </li>

      <li routerLinkActive="active current" class="nav-item" data-toggle="tooltip" data-placement="right" title="Enrolments">
        <a class="nav-link" routerLink="/administration/enrolments">
          <i class="fa fa-fw fa-subway"></i>
          <span class="nav-link-text">Enrolments</span>
        </a>
      </li>

      <li routerLinkActive="active current" class="nav-item" data-toggle="tooltip" data-placement="right" title="Instructors">
        <a class="nav-link" routerLink="/administration/instructors">
          <i class="fa fa-institution"></i>
          <span class="nav-link-text">Instructors</span>
        </a>
      </li>

      <li routerLinkActive="active current" class="nav-item" data-toggle="tooltip" data-placement="right" title="Users">
        <a class="nav-link" routerLink="/administration/users">
          <i class="fa fa-fw fa-users"></i>
          <span class="nav-link-text">Users</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #adminLogin>
  <app-admin-login></app-admin-login>
</ng-template>
