<div class="panel panel-body">
  <div class="page-row">
    <h3>
      <i class="fa fa-plus"></i> {{'lang_269' | translate}}&nbsp;
      <span>[ {{'lang_267' | translate}} ]</span>
      <span class="pull-right">
        <button mat-raised-button (click)="backToList()">
          <i class="fa fa-list"></i> {{'lang_266' | translate}}</button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <form [formGroup]="instructorForm" autocomplete="off">
      <mat-tab-group>
        <mat-tab label="Basic Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="title" class=" control-label">Title</label>
                <select [(ngModel)]="instructor.title" class="form-control" formControlName="title" id="title" focused required>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                  <option value="Dr">Dr</option>
                  <option value="Prof">Prof</option>
                </select>
              </div>

              <div class="form-group">
                <label for="firstName" class=" control-label">First Name</label>
                <input [(ngModel)]="instructor.firstName" type="text" class="form-control" formControlName="firstName" id="firstName" focused
                  required>
              </div>

              <div class="form-group">
                <label for="lastName" class=" control-label">Last Name</label>
                <input [(ngModel)]="instructor.lastName" type="text" class="form-control" formControlName="lastName" id="lastName" required>
              </div>

              <div class="form-group">
                <label for="instructorEmail" class="control-label">Email Address</label>
                <input [(ngModel)]="instructor.emailAddress" type="email" class="form-control" formControlName="emailAddress" id="instructorEmail"
                  required>
              </div>

              <div class="form-group">
                <label for="instructorPhone" class="control-label">Phone Number</label>
                <input [(ngModel)]="instructor.phoneNumber" type="text" class="form-control" formControlName="phoneNumber" id="instructorPhone"
                  required>
              </div>

              <div class="form-group">
                <label for="joinDate" class="control-label">Join Date</label>
                <input [(ngModel)]="instructor.joinDate" type="date" class="form-control" formControlName="joinDate" id="joinDate" max="{{now | date:'yyyy-MM-dd'}}"
                  required>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Career Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="qualification" class=" control-label">Qualification</label>
                <input [(ngModel)]="instructor.qualification" type="text" class="form-control" formControlName="qualification" id="qualification"
                  focused required>
              </div>

              <div class="form-group">
                <label for="specialization" class=" control-label">Specialization</label>
                <input [(ngModel)]="instructor.specialization" type="text" class="form-control" formControlName="specialization" id="specialization"
                  required>
              </div>

              <div class="form-group">
                <label for="institution" class="control-label">Current Institution</label>
                <input [(ngModel)]="instructor.institution" type="text" class="form-control" formControlName="institution" id="institution">
              </div>

              <div class="form-group">
                <label for="workHistory" class="control-label">Work History</label>
                <textarea [(ngModel)]="instructor.profile" class="form-control" formControlName="profile" id="workHistory" rows="5"></textarea>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Login Info">
          <div class="mat-tab-content">
            <fieldset>
              <div class="form-group">
                <label for="username" class=" control-label">Username</label>
                <input [(ngModel)]="instructor.username" type="text" class="form-control" formControlName="username" id="username">
              </div>

              <div formGroupName="instructorPassword">
                <div class="form-group">
                  <label for="password1" class=" control-label">Password</label>
                  <input [(ngModel)]="instructor.password" type="password" class="form-control" formControlName="password1" id="password1">
                </div>

                <div class="form-group">
                  <label for="password2" class=" control-label">Confirm Password</label>
                  <input type="password" class="form-control" formControlName="password2" id="password2">
                  <span class="text-danger" *ngIf="instructorForm.get('instructorPassword').touched && instructorForm.get('instructorPassword').hasError('nomatch')">
                    Passwords do not match
                  </span>
                </div>
              </div>

              <div class="form-group">
                <div class="checkbox">
                  <label for="instructorStatus">
                    <input type="checkbox" [(ngModel)]="instructor.active" formControlName="instructorStatus" id="instructorStatus" checked> Active</label>
                </div>
              </div>
            </fieldset>
          </div>
        </mat-tab>
        <mat-tab label="Address Info">
          <div class="mat-tab-content">
            <fieldset>
              <app-address formGroupName="instructorAddress" [address]="instructor.address"></app-address>
            </fieldset>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="form-group">
        <span class="pull-right">
          <button mat-raised-button color="primary" type="button" [disabled]="instructorForm.invalid || instructorForm.pending" (click)="createInstructor()">
            {{'lang_264' | translate}}
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
