<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<div class="row page-row" *ngIf="!loading" style="margin-left: 5px;margin-right: 5px;">
  <div class="col-md-12">
    <h1 class="has-divider">Lessons</h1>
    <div *ngFor="let row of lessons" class="row page-row">
      <app-lessons-grid [lessons]="row"></app-lessons-grid>
    </div>
  </div>
</div>
<!--//page-row-->
