<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template [ngIf]="!loading">
  <app-student-profile *ngIf="student !== null" [student]="student"></app-student-profile>
  <app-instructor-profile *ngIf="instructor !== null" [instructor]="instructor"></app-instructor-profile>
</ng-template>
