@import "./assets/css/styles.css";
@import "./assets/vendor/select2/select2.min.css";
@import "./assets/vendor/select2/select2-bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans'); */

/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500|Open+Sans|Raleway:500'); */

html {
  /* font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  width: 100%;
  margin: 0 auto;
  padding: inherit;
}

.adminLogin {
  background-color: #3B4C5C;
  margin-top: 0%;
  padding-top: 70px;
}

.white-area-content {
  background: #FFFFFF;
  border-radius: 4px;
  /* padding: 15px; */
  /* border: 1px solid #d4dce2; */
}

.db-header {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
  padding-bottom: 1px;
}

.page-header-title {
  font-size: 24px;
  float: left;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.db-header-extra {
  float: right;
  padding: 5px;
}

.content-separator {
  margin-top: 20px !important;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content {
  /* min-height: 600px; */
  background: #FFFFFF;
  border-radius: 4px;
}

.action-buttons {
  margin-left: 15px;
  margin-right: 5px;
  min-width: 65px;
}

.btn-login {
  /* border-color: #eea236; */
  border-color: #40e0d0;
  background-color: #40e0d0;
  color: #FFFFFF;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.btn-login:hover {
  /* border-color: #eea236; */
  border-color: #40e0d0;
  background-color: #40e0d0;
  color: #FFFFFF;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.btn-outline-login {
  /* border-color: #eea236; */
  border-color: #40e0d0;
  /* background-color: #40e0d0; */
  color: #FFFFFF;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.btn-outline-login:hover {
  /* border-color: #eea236; */
  border-color: #40e0d0;
  background-color: #40e0d0;
  color: #FFFFFF;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.btn-outline-login:after {
  /* border-color: #eea236; */
  border-color: #40e0d0;
  background-color: #40e0d0;
  color: #FFFFFF;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.btn-register {
  /* border-color: #40e0d0; */
  border-color: #D30D0B;
  background-color: #D30D0B;
  color: #FFFFFF;
}

.btn-register:hover {
  /* border-color: #40e0d0; */
  border-color: #D30D0B;
  background-color: #D30D0B;
  color: #FFFFFF;
}

.btn-outline-register {
  /* border-color: #40e0d0; */
  border-color: #D30D0B;
  /* background-color: #D30D0B; */
  color: #FFFFFF;
}

.btn-outline-register:hover {
  /* border-color: #40e0d0; */
  border-color: #D30D0B;
  background-color: #D30D0B;
  color: #FFFFFF;
}

.btn-virttutor {
  /* border-color: #eea236; */
  border-color: #3B4C5C;
  background-color: #3B4C5C;
  color: #FFFFFF;
}

.btn-virttutor:hover {
  /* border-color: #eea236; */
  /* border-color: #3B4C5C;
  background-color: #3B4C5C; */
  color: #FFFFFF;
}

.btn-outline-virttutor {
  /* border-color: #eea236; */
  border-color: #3B4C5C;
  /* background-color: #3B4C5C; */
  color: #3B4C5C;
}

.btn-outline-virttutor:hover {
  /* border-color: #eea236; */
  border-color: #3B4C5C;
  background-color: #3B4C5C;
  color: #FFFFFF;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green>.panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}

.panel-green>a {
  color: #5cb85c;
}

.panel-yellow {
  border-color: #f0ad4e;
}

.panel-yellow>.panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}

.panel-yellow>a {
  color: #f0ad4e;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red>.panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

.panel-red>a {
  color: #d9534f;
}

.panel-virttutor {
  border-color: #3B4C5C;
}

.panel-virttutor>.panel-heading {
  border-color: #3B4C5C;
  color: white;
  background-color: #3B4C5C;
}

.panel-virttutor>a {
  color: #3B4C5C;
}

.panel-virttutor>.panel-footer {
  border-color: #3B4C5C;
  color: white;
  background-color: #3B4C5C;
}

.lang select {
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  z-index: 111;
  /* height: 10px; */
  /* border-radius: 5px; */
}

.lesson-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #40e0d0;
  transition: 0.5s;
}

.lesson-img:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.lesson-img:hover:after {
  width: 100%;
}
