// @import '~@angular/material/theming';
// @include mat_core();
// $custom-primary: mat-pallete($mat-teal);
// $custom-accent: mat-pallete($mat-pink);
// $custom-warn: mat-pallete($mat-yellow);
// $custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
// @include angular-material-theme($custom-theme);
