.form-control.ng-touched.ng-invalid,
.form-control.ng-pristine.ng-invalid.ng-touched {
  border: 1px solid #f00;
}

.card.signup-form {
  /* padding: 10px; */
}

.error {
  color: red;
}

.mat-tab-content {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
