<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<div class="row page-row" *ngIf="!loading" style="margin: 2px;">
  <div class="col-sm-12">
    <h1 class="has-divider">
      <span>Create your VirtTutor account!!!</span>
      <span class="text-small pull-right">
        <i class="required">*</i> indicates required</span>
    </h1>
    <div class="panel panel-body">
      <form [formGroup]="signupForm" autocomplete="off" novalidate>
        <mat-tab-group>
          <mat-tab label="Basic Info">
            <div class="mat-tab-content">
              <fieldset>
                <div class="form-group">
                  <label for="firstName">
                    First Name
                    <span class="error">*</span>
                  </label>
                  <input [(ngModel)]="student.firstName" formControlName="firstName" type="text" class="form-control" placeholder="First name"
                    id="firstName" required autofocus>
                  <span class="error" *ngIf="signupForm.get('firstName').touched && signupForm.get('firstName').invalid">First name is empty or contains an invalid value.</span>
                </div>
                <div class="form-group">
                  <label for="lastName">
                    Last Name
                    <span class="error">*</span>
                  </label>
                  <input [(ngModel)]="student.lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last name"
                    id="lastName" required>
                  <span class="error" *ngIf="signupForm.get('lastName').touched && signupForm.get('lastName').invalid">Last name is empty or contains an invalid value.</span>
                </div>
                <!--//form-group-->
                <div class="form-group phone">
                  <label for="phone">Phone</label>
                  <input [(ngModel)]="student.phoneNumber" formControlName="phoneNumber" type="tel" class="form-control" placeholder="Enter your phone number"
                    id="phoneNumber">
                  <span class="error" *ngIf="signupForm.get('phoneNumber').invalid">Phone is empty or contains an invalid value.</span>
                </div>
                <!--//form-group-->
                <div class="form-group gender">
                  <label for="gender">Gender</label>
                  <select [(ngModel)]="student.gender" formControlName="gender" class="form-control" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </fieldset>
            </div>
          </mat-tab>

          <mat-tab label="Login Info">
            <div class="mat-tab-content">
              <fieldset>
                <div class="form-group emailAddress">
                  <label for="emailAddress">
                    Email Address
                    <span class="error">*</span>
                  </label>
                  <input [(ngModel)]="student.emailAddress" formControlName="emailAddress" type="email" class="form-control" placeholder="Enter your email address"
                    id="emailAddress" required>
                  <span class="error" *ngIf="signupForm.get('emailAddress').touched && signupForm.get('emailAddress').invalid">Email address is empty or contains an invalid value.</span>
                </div>
                <!--//form-group-->
                <div class="form-group username">
                  <label for="username">
                    Username
                    <span class="error">*</span>
                  </label>
                  <input [(ngModel)]="student.username" formControlName="username" type="text" class="form-control" placeholder="Enter your username"
                    id="username" required>
                  <span class="error" *ngIf="signupForm.get('username').touched && signupForm.get('username').invalid">Username is empty or contains an invalid value.</span>
                </div>
                <!--//form-group-->
                <div formGroupName="accountPassword">
                  <div class="form-group">
                    <label for="password1">Password
                      <span class="error">*</span>
                    </label>
                    <input type="password" [(ngModel)]="student.passWord" formControlName="password1" class="form-control" id="password1" required/>
                    <span class="error" *ngIf="signupForm.get('accountPassword').get('password1').touched && signupForm.get('accountPassword').get('password1').invalid">Password is empty or contains an invalid value.</span>
                  </div>
                  <div class="form-group">
                    <label for="password2">Confirm Password
                      <span class="error">*</span>
                    </label>
                    <input type="password" formControlName="password2" class="form-control" id="password2" required/>
                    <span class="error" *ngIf="signupForm.get('accountPassword').touched && signupForm.get('accountPassword').hasError('nomatch')">
                      Passwords do not match
                    </span>
                  </div>
                </div>
                <!--//form-group-->
              </fieldset>
            </div>
          </mat-tab>

          <mat-tab label="Address">
            <div class="mat-tab-content">
              <fieldset>
                <app-address formGroupName="studentAddress" [address]="address"></app-address>
              </fieldset>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
      <!--//signup-form-->
      <ng-template [ngIf]="emailExists">
        <div class="alert alert-danger alert-dismissable">{{errorMessage}}</div>
      </ng-template>
      <p>
        <span class="pull-right">
          <button mat-raised-button (click)="createAccount()" type="button" color="primary" [disabled]="signupForm.invalid || signupForm.pending || loading">Create Account</button>
        </span>
      </p>
    </div>
  </div>
</div>
