<mat-accordion *ngIf="(comments$ | async) as comments; else loading" multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comments
      </mat-panel-title>
      <mat-panel-description>
        <span class="badge badge-danger">{{comments.length}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-lesson-comment-list [lessonComments]="comments"></app-lesson-comment-list>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Comment
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="lessonCommentForm" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" [(ngModel)]="lessonComment.name" formControlName="name" name="name" id="name" class="form-control" placeholder="Enter your name..."
            readonly>
        </div>

        <div class="form-group">
          <label>Email Address</label>
          <input type="email" [(ngModel)]="lessonComment.email" formControlName="email" name="email" id="email" class="form-control"
            placeholder="Enter your email..." readonly>
        </div>

        <div class="form-group">
          <label>Message</label>
          <textarea [(ngModel)]="lessonComment.body" formControlName="body" name="body" id="message" rows="4" class="form-control"
            placeholder="Type your message..."></textarea>
        </div>
      </fieldset>
    </form>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="onAddComment()" [disabled]="lessonCommentForm.invalid || lessonCommentForm.pending">Submit</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
