<ng-container *ngIf="(user$ | async) as user; else loading">
  <div class="panel panel-body">
    <div class="page-row">
      <h3>
        <i class="fa fa-user"></i>
        <span>{{user.firstName}} {{user.lastName}}</span>
      </h3>
    </div>
    <div class="page-row">
      <dl>
        <dt class="col-sm-2">Photo: </dt>
        <dd class="col-sm-10">
          <legend>
            <img class="img-circle" src="/assets/images/{{user.avatar}}" width="50" height="50" />
          </legend>
        </dd>

        <dt class="col-sm-2">Contact: </dt>
        <dd class="col-sm-10">
          <legend>
            <span>Email: {{user.emailAddress}}</span>
            <br/>
            <span>Phone: {{user.phoneNumber}}</span>
          </legend>
        </dd>

        <dt class="col-sm-2">Account Info: </dt>
        <dd class="col-sm-10">
          <legend>
            <span>Join Date: {{user.joinDate | date:'dd/MM/yyyy'}}</span>
            <br/>
            <span>Role: {{user.role.title}}</span>
            <br/>
            <span>Username: {{user.username}}</span>
          </legend>
        </dd>

        <dt class="col-sm-2" *ngIf="user.address !== null">Address: </dt>
        <dd class="col-sm-10" *ngIf="user.address !== null">
          <legend>{{user?.address?.city}}&nbsp;{{user?.address?.country?.name}}</legend>
        </dd>
      </dl>
    </div>
  </div>
  <div class="panel panel-body">
    <div class="page-row">
      <app-admin-change-password></app-admin-change-password>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
