<h3 class="has-divider text-highlight">{{'lang_232' | translate}}</h3>
<div class="page-row panel panel-body enrolment" *ngFor="let enrolment of enrolments">
  <div class="col-md-3 col-sm-5 col-xs-6">
    <a routerLink="/lessons/show/{{enrolment.lesson.slug}}">
      <img src="assets/uploads/{{enrolment.lesson.avatar}}" class=" img-thumbnail lesson-img" />
    </a>
  </div>
  <div class="col-md-9 col-sm-7 col-xs-6">
    <h4 class="text-highlight">
      <a routerLink="/lessons/show/{{enrolment.lesson.slug}}">
        {{enrolment.lesson.title}}
      </a>
    </h4>
    <h5 class=" text-highlight">
      <span *ngIf="dt.compareWithNow(enrolment.lesson.startsOn)">{{'lang_236' | translate}} - </span>
      <span *ngIf="!dt.compareWithNow(enrolment.lesson.startsOn)">{{'lang_84' | translate}} - </span>
      <span>{{enrolment.lesson.startsOn | date:'mediumDate'}}</span>
    </h5>
    <h5 class=" text-highlight">
      <span *ngIf="dt.compareWithNow(enrolment.lesson.endsOn)">{{'lang_233' | translate}} - </span>
      <span *ngIf="!dt.compareWithNow(enrolment.lesson.endsOn)">{{'lang_85' | translate}} - </span>
      <span>{{enrolment.lesson.endsOn | date:'mediumDate'}}</span>
    </h5>
    <p class=" text-highlight">
      <span class="pull-right">
        <button mat-raised-button color="accent" routerLink="/account/classroom/{{enrolment.lesson.slug}}">{{'lang_256' | translate}}</button>
        <button mat-raised-button color="primary" routerLink="/lessons/show/{{enrolment.lesson.slug}}">
          <span *ngIf="dt.compareWithNow(enrolment.lesson.endsOn)">{{'lang_234' | translate}}</span>
          <span *ngIf="!dt.compareWithNow(enrolment.lesson.endsOn)">{{'lang_235' | translate}}</span>
        </button>
      </span>
    </p>
  </div>
</div>
