<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<div class="row page-row" *ngIf="!loading" style="margin: 2px;">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-8">
    <h3 class="has-divider">{{title | translate}}</h3>
    <div class="box" [innerHTML]="page.body"></div>
  </div>
</div>
<!--//page-row-->
