<div class="row page-row clearfix">
  <div class="col-md-8 table-responsive" style="padding: 5px;">
    <div class="page-row">
      <div class="col-md-1 col-sm-2 col-xs-2">
        <button class="btn btn-success btn-sm" *ngIf="!hasJoined" (click)="openClassroom()">Open Classroom</button>
        <button title="Start Broadcast" class="btn btn-success btn-sm" *ngIf="hasJoined && hasStarted && !isLive" (click)="startBroadcast()">
          <i class="fa fa-play"></i>
        </button>
        <button title="End Class" class="btn btn-danger btn-sm" *ngIf="hasJoined && hasStarted && isLive" (click)="endBroadcast()">
          <i class="fa fa-stop"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-2 col-xs-2">
        <button class="btn btn-primary btn-sm" *ngIf="!isScreenShared" title="Share Screen" type="button" (click)="onToggleShareScreen()">
          <i class="fa fa-desktop"></i>
        </button>
        <button class="btn btn-warning btn-sm" *ngIf="isScreenShared" title="Stop Screen Sharing" type="button" (click)="onToggleShareScreen()">
          <i class="fa fa-desktop"></i>
        </button>
      </div>
      <div class="col-md-1 col-sm-2 col-xs-2">
        <button class="btn btn-primary btn-sm" *ngIf="!isDataChannelOpen" title="Enable Chat and File Sharing" type="button" (click)="onToggleDataChannel()">
          <i class="fa fa-envelope-open"></i>
        </button>
        <button class="btn btn-warning btn-sm" *ngIf="isDataChannelOpen" title="Disable Chat and File Sharing" type="button" (click)="onToggleDataChannel()">
          <i class="fa fa-envelope"></i>
        </button>
      </div>
      <div class="col-md-offset-1 col-md-8 col-sm-6 col-xs-6">

      </div>
    </div>
    &nbsp;
    <div class="page-row">
      <!-- <app-whiteboard></app-whiteboard> -->
      <app-canvas></app-canvas>
    </div>
  </div>
  <div class="col-md-4" style="padding: 1px;">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#localViewCollapse">
              Local Video &nbsp;&nbsp;
              <span *ngIf="isLive" class="fa fa-camera"></span>
            </a>
          </h4>
        </div>
        <div id="localViewCollapse" class="panel-collapse collapse in">
          <div class="panel-body">
            <video width="100%" controls autoplay></video>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#localScreenCollapse">
              Local Screen &nbsp;&nbsp;
              <span *ngIf="isLive" class="fa fa-desktop"></span>
            </a>
          </h4>
        </div>
        <div id="localScreenCollapse" class="panel-collapse collapse">
          <div class="panel-body" id="localScreen">

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#settingsCollapse">
              Settings</a>
          </h4>
        </div>
        <div id="settingsCollapse" class="panel-collapse collapse">
          <div class="panel-body">
            <form *ngIf="!isLive">
              <fieldset>
                <div class="form-group">
                  <label class="control-label">Source Camera</label>
                  <select class="form-control" (change)="onSelectVideoDevice($event.target.value)">
                    <option *ngFor="let camera of sourceCameras" value="{{camera.id}}">{{camera.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Source Microphone</label>
                  <select class="form-control" (change)="onSelectAudioDevice($event.target.value)">
                    <option *ngFor="let mic of sourceMicrophones" value="{{mic.id}}">{{mic.name}}</option>
                  </select>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#chatsCollapse">
              Chats</a>
          </h4>
        </div>
        <div id="chatsCollapse" class="panel-collapse collapse">
          <div class="panel-body">
            <app-chat *ngIf="lesson !== null" [lesson]="lesson"></app-chat>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#attendanceCollapse">
              Attendance ({{numberConnected}})</a>
          </h4>
        </div>
        <div id="attendanceCollapse" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-group" *ngIf="hasJoined">
              <li class="list-group-item clearfix" *ngFor="let peerId of broadcastService.connection.getAllParticipants()">
                <span class="pull-left">
                  <img src="assets/images/{{broadcastService.connection.peers[peerId].extra.user.avatar}}" width="30" height="30" class=" img-circle"
                  />
                  <span>{{broadcastService.connection.peers[peerId].extra.user.firstName}} {{broadcastService.connection.peers[peerId].extra.user.lastName}}</span>
                  <span class="label label-success small" *ngIf="broadcastService.connection.peers[peerId].isInitiator === true">Instructor</span>
                  <span class="label label-default small" *ngIf="!broadcastService.connection.peers[peerId].isInitiator !== true">Student</span>
                </span>
                <span class=" pull-right">
                  <span class="fa fa-envelope fa-2x" style="cursor: pointer;" (click)="alert(peerId)"></span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#lessonDetailsCollapse">
              Lesson Details</a>
          </h4>
        </div>
        <div id="lessonDetailsCollapse" class="panel-collapse collapse">
          <div class="panel-body">
            <h4>
              <span *ngIf="hasJoined">
                <span class="text-muted">
                  <b>{{lesson.title}}</b>
                </span>
              </span>
            </h4>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
