<div class="panel-body">
  <form [formGroup]="fileUploadForm" novalidate>
    <fieldset>
      <div class="form-group">
        <label class="">File description</label>
        <textarea [(ngModel)]="description" formControlName="description" name="description" class="form-control" maxlength="255"
          rows="5" required></textarea>
      </div>
      <div class="form-group">
        <div class="col-md-7">
          <label class="">Select file</label>
          <input type="file" (change)="selectFile($event)" class="form-control" formControlName="inputFile" name="inputFile">
        </div>
        <div class="col-md-5">
          <button mat-raised-button color="accent" [disabled]="fileUploadForm.get('description').invalid" (click)="upload()">Upload</button>
        </div>
      </div>
      <div class="form-group">
        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progressPercentage}}"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progressPercentage+'%'}">
            {{progressPercentage}}%</div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
