<div class="row page-row">
  <div class="col-sm-6 col-sm-offset-3">
    <ng-template [ngIf]="loading">
      <mat-spinner></mat-spinner>
    </ng-template>
    <div class="panel panel-body" *ngIf="!loading">
      <div class="page-row">
        <h2 class="text-center">Adminstration Login</h2>
      </div>
      <div class="page-row">
        <div *ngIf="hasError" class="alert alert-danger">
          <span>{{loginErrorMessage}}</span>
        </div>
        <form [formGroup]="adminLoginForm" autocomplete="off">
          <div class="form-group">
            <label for="loginEmail">Email address</label>
            <input [(ngModel)]="credentials.loginName" class="form-control input-lg" id="loginEmail" type="email" aria-describedby="emailHelp"
              placeholder="Enter email" formControlName="loginEmail" required>
          </div>

          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input [(ngModel)]="credentials.loginPassword" class="form-control input-lg" type="password" placeholder="Password" formControlName="loginPassword"
              id="loginPassword" required>
          </div>

          <div class="form-group">
            <span class="text-center" style="padding-top: 20px;">
              <a class="d-block small" href="/administration/resetPassword">Forgot Password?</a>
            </span>
            <span class="pull-right">
              <button mat-raised-button color="primary" type="button" [disabled]="adminLoginForm.invalid || adminLoginForm.pending" (click)="login()">Login</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
