<div class="container-fluid">
  <div *ngIf="loading" class="text-center">
    <app-spinner></app-spinner>
  </div>
  <div class="card mb-3" *ngIf="!loading">
    <div class="card-header">
      <i class="fa fa-table"></i> {{title}}
      <span class="pull-right">
        <button type="button" class="btn btn-outline-dark" (click)="backToList()">Back To List</button>
      </span>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form [formGroup]="roleForm" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="roleTitle" class=" control-label">Title</label>
              <div class="col12">
                <input [(ngModel)]="role.title" type="text" class="form-control" formControlName="title" id="roleTitle" (keyup)="onTitleKeyup()"
                  focused>
              </div>
            </div>
            <div class="form-group">
              <label for="roleSlug" class=" control-label">Slug</label>
              <div class="col12">
                <input [(ngModel)]="role.slug" type="text" class="form-control" formControlName="slug" id="roleSlug" readonly>
              </div>
            </div>
            <div class="form-group">
              <label for="roleDescription" class=" control-label">Description</label>
              <div class="col12">
                <textarea [(ngModel)]="role.description" class="form-control" formControlName="description" id="roleDescription" rows="10"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="rolePermissions" class=" control-label">Role Permissions</label>
              <div class="checkbox" *ngFor="let permission of permissions">
                <label class="" for="rolePermission{{permission.id}}">
                  <input type="checkbox" value="{{permission.id}}" name="rolePerms" [checked]="rolePerms.includes(permission.id)" (change)="permissionChanged(permission.id)"
                    formControlName="permission" id="rolePermission{{permission.id}}"> {{permission.title}}</label>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <app-timer></app-timer>
      <div class="pull-right">
        <button type="button" [disabled]="roleForm.invalid || roleForm.pending" class="btn btn-success" (click)="updateRole()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
