<div class="panel panel-body" *ngIf="(lessons$ | async) as lessons; else loading">
  <div class="page-row">
    <h3>
      <i class="fa fa-registered"></i>&nbsp;
      <span>{{'lang_274' | translate}}</span>&nbsp;
      <span>[ {{instructorName}} ]</span>
      <span class="pull-right">
        <button mat-raised-button color="warn" (click)="editInstructor(instructor)">
          <i class="fa fa-edit"></i> {{'lang_98' | translate}}
        </button>
        <button mat-raised-button (click)="backToList()">
          <i class="fa fa-list"></i> {{'lang_266' | translate}}
        </button>
      </span>
    </h3>
  </div>
  <div class="page-row">
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-sm">
        <thead class="bg-gray">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Subject</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons; let i = index">
            <td>{{i+1}}</td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.slug}}</td>
            <td>
              <a routerLink="/administration/subjects/show/{{lesson.subjectId}}">{{lesson.subject.title}}</a>
            </td>
            <td>
              <button mat-raised-button color="primary" title="Assing To {{instructorName}}" (click)="assignLesson(lesson)" *ngIf="!hasLesson(lesson)">
                <i class="fa fa-plus"></i> {{'lang_272' | translate}}
              </button>
              <button mat-raised-button color="warn" title="Remove From {{instructorName}}" (click)="removeLesson(lesson)" *ngIf="hasLesson(lesson)">
                <i class="fa fa-remove"></i> {{'lang_275' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
