.mat-card-small-interactive {
  border-radius: 0px;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-in-out;
  padding: 2.25rem 0;
  position: relative;
  will-change: transform;
}

.mat-card-small-interactive:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #D30D0B;
  transition: 0.5s;
}

.mat-card-small-interactive:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

.mat-card-small-interactive:hover:after {
  width: 100%;
}

mat-card-header {
  background-color: white;
  padding-left: 2rem;
  border-bottom: 0px;
}

mat-card-title {
  margin-bottom: 1rem;
}

mat-card-content {
  padding: 0 2rem 2rem 2rem;
}

mat-card-actions {
  margin-left: 3rem;
}
