<ng-template [ngIf]="loading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<div class="white-area-content" *ngIf="!loading">
  <div class="row page-row tabbable clearfix">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked " role="tablist">
        <li role="presentation" class="active">
          <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">
            <span class="fa fa-dedent"></span> {{'lang_86' | translate}}</a>
        </li>
        <li role="presentation">
          <a href="#description" aria-controls="description" role="tab" data-toggle="tab">
            <span class="fa fa-info-circle"></span> {{'lang_87' | translate}}</a>
        </li>
        <li role="presentation">
          <a href="#outline" aria-controls="outline" role="tab" data-toggle="tab">
            <span class="fa fa-tasks"></span> {{'lang_88' | translate}}</a>
        </li>
        <li role="presentation">
          <a href="#outcome" aria-controls="outcome" role="tab" data-toggle="tab">
            <span class="fa fa-graduation-cap"></span> {{'lang_89' | translate}}</a>
        </li>

        <li role="presentation">
          <a href="#modules" aria-controls="modules" role="tab" data-toggle="tab">
            <span class="fa fa-book"></span>{{'lang_91' | translate}} </a>
        </li>
        <li role="presentation" *ngIf="authService.isAuthenticated()">
          <a href="#files" aria-controls="files" role="tab" data-toggle="tab">
            <span class="fa fa-file"></span>{{'lang_92' | translate}} </a>
        </li>
        <li role="presentation" *ngIf="authService.isAuthenticated()">
          <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
            <span class="fa fa-file"></span>{{'lang_247' | translate}} </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="row clearfix">
          <div class="col-xs-12">
            <h3 class="row page-row has-divider clearfix">
              <span class="page-header-title-text col-md-4">{{lesson.title}}</span>
              <span class="col-md-4" *ngIf="studentService.canEnrolForLesson(lesson)">
                <button mat-raised-button color="warn" (click)="onEnrol()">
                  {{'lang_104' | translate}}
                </button>
              </span>
              <span class="col-md-4" *ngIf="authService.isStudentAuthenticated() && studentService.isEnrolledForLesson(lesson.id)">
                <button mat-raised-button color="primary" *ngIf="lesson.status !== 'completed'" routerLink="/account/classroom/{{lesson.slug}}">
                  <span>{{'lang_256' | translate}}</span>
                </button>
                <button mat-raised-button color="primary" *ngIf="lesson.status === 'completed'" routerLink="/account/classroom/{{lesson.slug}}">
                  <span>{{'lang_234' | translate}}</span>
                </button>
              </span>
            </h3>
          </div>
        </div>

        <div role="tabpanel" class="page-row tab-pane active" id="overview">
          <div class="text-justify large" style="font-size: 16pt;">
            <div class="col-md-4">
              <img src="assets/uploads/{{lesson.avatar}}" width="150" height="100" class="img-rounded img-thumbnail lesson-img" />
            </div>
            <div class="col-md-4">
              <h4>
                <b>{{'lang_55' | translate}}</b>
              </h4>
              <span>{{lesson.subject.title}}</span>
              <h4>
                <b>{{'lang_239' | translate}}</b>
              </h4>
              <span *ngFor="let instructor of lessonInstructors">
                <span>{{instructor.title}}</span>
                <span>{{instructor.firstName}}</span>
                <span>{{instructor.lastName}}</span>
              </span>
            </div>
            <div class="col-md-4">
              <h4>
                <span *ngIf="dt.compareWithNow(lesson.startsOn)">
                  <b>{{'lang_236' | translate}}</b> - </span>
                <span *ngIf="!dt.compareWithNow(lesson.startsOn)">
                  <b>{{'lang_84' | translate}}</b> - </span>
                <span>{{lesson.startsOn | date:'mediumDate'}}</span>
              </h4>

              <h4>
                <span *ngIf="dt.compareWithNow(lesson.endsOn)">
                  <b>{{'lang_233' | translate}}</b> - </span>
                <span *ngIf="!dt.compareWithNow(lesson.endsOn)">
                  <b>{{'lang_85' | translate}}</b> - </span>
                <span>{{lesson.endsOn | date:'mediumDate'}}</span>
              </h4>
            </div>
          </div>

        </div>

        <div role="tabpanel" class="tab-pane clearfix" id="description">
          <div class="page-row">
            <p class="text-justify large" style="font-size: 16pt;">{{lesson.description}}</p>
            <p *ngIf="authService.isInstructorAuthenticated() && !isEditDescription">
              <span class="pull-right">
                <button mat-raised-button type="button" (click)="onEditDescription()">
                  <i class="fa fa-edit"></i>{{'lang_98' | translate}}
                </button>
              </span>
            </p>
          </div>

          <div class="page-row" *ngIf="authService.isInstructorAuthenticated() && isEditDescription">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Edit
                  </mat-panel-title>
                  <mat-panel-description>
                    Lesson Description
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <form>
                  <div class="form-group">
                    <textarea class="form-control" rows="15" name="description" [(ngModel)]="lesson.description"></textarea>
                  </div>
                  <div class="form-group">
                    <button mat-raised-button type="button" color="primary" [disabled]="lesson.description === ''" (click)="updateLesson()">
                      {{'lang_265' | translate}}
                    </button>
                  </div>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane clearfix" id="outline">
          <div class="page-row">
            <p class="text-justify large" style="font-size: 16pt;">{{lesson.outline}}</p>
            <p *ngIf="authService.isInstructorAuthenticated() && !isEditOutline">
              <span class="pull-right">
                <button mat-raised-button type="button" (click)="onEditOutline()">
                  <i class="fa fa-edit"></i>{{'lang_98' | translate}}
                </button>
              </span>
            </p>
          </div>

          <div class="page-row" *ngIf="authService.isInstructorAuthenticated() && isEditOutline">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Edit
                  </mat-panel-title>
                  <mat-panel-description>
                    Lesson Outline
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <form>
                  <div class="form-group">
                    <textarea class="form-control" rows="15" name="outline" [(ngModel)]="lesson.outline"></textarea>
                  </div>
                  <div class="form-group">
                    <button mat-raised-button type="button" color="primary" [disabled]="lesson.outline === ''" (click)="updateLesson()">
                      {{'lang_265' | translate}}
                    </button>
                  </div>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane clearfix" id="outcome">
          <div class="page-row">
            <p class="text-justify large" style="font-size: 16pt;">{{lesson.outcome}}</p>
            <p *ngIf="authService.isInstructorAuthenticated() && !isEditOutcome">
              <span class="pull-right">
                <button mat-raised-button type="button" (click)="onEditOutcome()">
                  <i class="fa fa-edit"></i>{{'lang_98' | translate}}
                </button>
              </span>
            </p>
          </div>

          <div class="page-row" *ngIf="authService.isInstructorAuthenticated() && isEditOutcome">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Edit
                  </mat-panel-title>
                  <mat-panel-description>
                    Lesson Outcome
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <form>
                  <div class="form-group">
                    <textarea class="form-control" rows="15" name="outcome" [(ngModel)]="lesson.outcome"></textarea>
                  </div>
                  <div class="form-group">
                    <button mat-raised-button type="button" color="primary" [disabled]="lesson.outcome === ''" (click)="updateLesson()">
                      {{'lang_265' | translate}}
                    </button>
                  </div>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div role="tabpanel" class="page-row tab-pane clearfix" id="modules">
          <table class="table table-boxed table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of lessonModules$ | async" (click)="viewLessonModule(module)" style="cursor: pointer;">
                <td>
                  <span>{{module.title}}</span>
                </td>
                <td>
                  <span>{{module.scheduleDate | date:'mediumDate'}}</span>
                  <br/>
                  <span>{{module.startTime}}</span>
                </td>
                <td>{{module.duration}} mins</td>
                <td>{{module.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div role="tabpanel" class="page-row tab-pane clearfix" id="files" *ngIf="authService.isAuthenticated()">

        </div>

        <div role="tabpanel" class="page-row tab-pane clearfix" id="comments" *ngIf="authService.isAuthenticated()">
          <app-lesson-comment-create [lesson]="lesson"></app-lesson-comment-create>
        </div>
      </div>
    </div>
  </div>
</div>
