.page-header-title-text {
  font-weight: bold;
  float: left;
}

.page-header-title-extra {
  float: right;
  /* margin-bottom: 5px; */
}

ul.nav.nav-tabs {
  list-style: none;
}

.nav.nav-tabs a,
.nav.nav-pills a {
  font-size: 14pt;
}

.white-area-content {
  min-height: 600px;
  margin: 1px;
}
