<ng-template [ngIf]="loading">
  <mat-spinner></mat-spinner>
</ng-template>
<div class="row page-row" *ngIf="!loading">
  <div class="col-md-12">
    <h1 class="has-divider">{{subject.title}} Lessons</h1>
    <div *ngFor="let row of subjectLessons" class="row page-row">
      <app-lessons-grid [lessons]="row"></app-lessons-grid>
    </div>
  </div>
</div>
