<!-- ******NAV****** -->
<nav class="main-nav nav-wrp navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">{{settingService.get('company_name')}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/{{settingService.get('company_logo')}}" alt="{{settingService.get('company_name')}}" width="180"
          height="50" class="logo" *ngIf="settingService.get('company_logo') !== null">
      </a>
      <!--//nav-toggle-->
    </div>
    <!--//navbar-header-->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ng-template [ngIf]="authService.isAdminAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="assets/images/{{authService.getAdminUser().avatar}}" width="20" height="20" class="img-circle" />
              <span>{{authService.getAdminUser().username}}</span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-right">
              <li routerLinkActive="active current">
                <a routerLink="/administration/account/profile">
                  <i class="fa fa-info-circle"></i>&nbsp;{{'lang_17' | translate}}</a>
              </li>
              <li style="cursor: pointer;">
                <a (click)="authService.adminLogout()">
                  <i class="fa fa-sign-out"></i>&nbsp;{{'lang_13' | translate}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-template>

    </div>
  </div>
  <!--//container-->
</nav>
<!--//main-nav-->
