<div class="page-row">
  <div class="col-md-1">
    <p>
      <button (click)="selectShape()">
        <i class="fa fa-mouse-pointer"></i>
      </button>
    </p>
    <p>
      <button (click)="drawShape()">
        <i class="fa fa-pencil"></i>
      </button>
    </p>
    <p>
      <button (click)="eraseCanvas()">
        <i class="fa fa-eraser"></i>
      </button>
    </p>
  </div>
  <div class="col-md-11">
    <div class="page-row">
      <span class="col-xs-1">
        <button (click)="undoCanvas()">
          <i class="fa fa-undo"></i>
        </button>
      </span>
      <span class="col-xs-1">
        <button (click)="redoCanvas()">
          <i class="fa fa-repeat"></i>
        </button>
      </span>
    </div>

    <div class="page-row" id="center" data-options="region:'center'" style="height:100%">
      <canvas id="canvasBoard"></canvas>
    </div>

    <div class="page-row" id="containerSharedPartOfScreenPreview" data-options="region:'center'" style="height:100%">
      <img id="sharedPartOfScreenPreview" style="max-width:100%;" />
    </div>
  </div>
</div>
