<ng-template [ngIf]="loading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<mat-tab-group *ngIf="!loading">
  <mat-tab label="Settings">
    <div class="mat-tab-content">
      <form *ngIf="client?.type === 'instructor'">
        <fieldset>
          <div class="form-group">
            <label class="control-label">Source Camera</label>
            <select class="form-control" (change)="onCameraChange($event)">
              <option *ngFor="let camera of sourceCameras" value="{{camera.id}}">{{camera.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Source Microphone</label>
            <select class="form-control" (change)="onMicrophoneChange($event)">
              <option *ngFor="let mic of sourceMicrophones" value="{{mic.id}}">{{mic.name}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="!hasJoined">
            <label class="control-label">Lesson</label>
            <select name="lesson" class="form-control" (change)="onLessonChanged($event)">
              <option *ngFor="let lesson of lessons" value="{{lesson.slug}}">{{lesson.title}}</option>
            </select>
          </div>
          <div class="form-group form-group-lg">
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="allowSessionRecording" (change)="onAllowSessionRecordingChange()">
                <span>Allow Session Recording</span>
              </label>
            </div>
          </div>
          <div class="form-group form-group-lg">
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="allowScreenSharing" (change)="onAllowScreenSharingChange()">
                <span>Share Screen With Students</span>
              </label>
            </div>
          </div>
          <div class="form-group form-group-lg">
            <div class="checkbox">
              <label>
                <input type="checkbox" [checked]="allowDataStream" (change)="onAllowDataStreamChange()">
                <span>Allow Chat and File Sharing</span>
              </label>
            </div>
          </div>
        </fieldset>
      </form>
      <ng-template [ngIf]="client?.type === 'learner'">
        <form>
          <fieldset>
            <div class="form-group" *ngIf="!hasJoined">
              <label class="control-label">Lesson</label>
              <select name="lesson" class="form-control" (change)="onLessonChanged($event)">
                <option *ngFor="let lesson of lessons" value="{{lesson.slug}}">{{lesson.title}}</option>
              </select>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </div>
  </mat-tab>
  <mat-tab label="Screen">
    <div class="mat-tab-content">
      <div class="panel panel-virttutor">
        <div class=" panel-heading clearfix">
          <div class="panel-header-image">
          </div>
          <div class="panel-title">
            <span *ngIf="hasJoined">
              <span>Lesson: </span>
              <span>
                <b>{{lesson.title}}</b>
              </span>
            </span>
          </div>
          <div class="pull-left">
            <span>You are logged in as </span>
            <span *ngIf="client?.type === 'learner'">Student: </span>
            <span *ngIf="client?.type === 'instructor'">Instructor: Mr.</span>
            <span>{{client?.firstName}} {{client?.lastName}}</span>
          </div>
          <div class="pull-right">
            <span>Online:</span>
            <span class="badge badge-info">{{numberConnected}}</span>
          </div>
        </div>
        <div class="panel-body ">
          <div class="row">
            <div class="col-md-12">
              <ng-template [ngIf]="lesson !== null">
                <video id="localVideo" *ngIf="client?.type === 'instructor'" width="100%" height="320" controls autoplay>

                </video>
                <video id="remoteVideo" *ngIf="client?.type === 'learner'" width="100%" height="320" controls autoplay>

                </video>
              </ng-template>
            </div>
          </div>
        </div>


        <div class="panel-footer clearfix" *ngIf="client?.type === 'instructor'">
          <button class="btn btn-success" *ngIf="!hasJoined" (click)="openClassroom()">Open Classroom</button>
          <button class="btn btn-success" *ngIf="hasJoined && hasStarted && !isLive" (click)="startBroadcast()">Start Broadcast</button>
          <button class="btn btn-warning" *ngIf="hasJoined && hasStarted && isLive && !isPaused" (click)="pauseBroadcast()">Pause</button>
          <button class="btn btn-info" *ngIf="hasStarted && isLive && isPaused" (click)="resumeBroadcast()">Resume</button>
          <button class="btn btn-danger" *ngIf="hasJoined && hasStarted && isLive" (click)="endBroadcast()">End Class</button>
        </div>
        <div class="panel-footer clearfix" *ngIf="client?.type === 'learner'">
          <button class="btn btn-success" *ngIf="!hasJoined" (click)="joinClass()">Join Class</button>
          <button class="btn btn-danger" *ngIf="hasJoined" (click)="exitClass()">Exit Class</button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Chats">
    <div class="mat-tab-content">
      <div class="" *ngIf="hasJoined">
        <app-chat></app-chat>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Attendance ({{numberConnected}})">
    <div class="mat-tab-content">
      <div class="" *ngIf="hasJoined">
        <ul class="list-group">
          <li class="list-group-item active">
            <span>Attendance</span>
          </li>
          <li class="list-group-item clearfix" *ngFor="let peerId of connection.getAllParticipants()">
            <span class="pull-left">
              <img src="assets/images/{{connection.peers[peerId].extra.client.avatar}}" width="30" height="30" class=" img-circle" />
              <span>{{connection.peers[peerId].extra.client.firstName}} {{connection.peers[peerId].extra.client.lastName}}</span>
              <span class="label label-success small" *ngIf=" connection.peers[peerId].extra.client.type === 'instructor'">Instructor</span>
              <span class="label label-default small" *ngIf=" connection.peers[peerId].extra.client.type === 'learner'">Student</span>
            </span>
            <span class=" pull-right">
              <span class="fa fa-envelope fa-2x" style="cursor: pointer;" (click)="alert(peerId)"></span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Lesson Details">
    <div class="mat-tab=content">

    </div>
  </mat-tab>
</mat-tab-group>
