.mat-tab-content {
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
}

.mat-card-header-image {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
}

.setting-field-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.nav.nav-tabs a {
  font-size: 14pt;
}

/* 
#localVideoContainer,
#remoteVideoContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
} */
