<span class="lang pull-right">
  <select name="lang" (change)="changeLanguage($event.target.value)">
    <option *ngFor="let lang of supportedLanguages" value="{{lang.value}}" [selected]="lang.value === currentLanguage">{{lang.display}}</option>
  </select>
</span>
