<div class="row page-row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">26</div>
            <div>{{'lang_22' | translate}}!</div>
          </div>
        </div>
      </div>
      <a routerLink="/account/messages">
        <div class="panel-footer">
          <span class="pull-left">{{'lang_97' | translate}}</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">124</div>
            <div>{{'lang_232' | translate}}!</div>
          </div>
        </div>
      </div>
      <a routerLink="/account/my-lessons">
        <div class="panel-footer">
          <span class="pull-left">{{'lang_97' | translate}}</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-4" *ngIf="authService.isStudentAuthenticated()">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">13</div>
            <div>{{'lang_238' | translate}}!</div>
          </div>
        </div>
      </div>
      <a routerLink="/account/my-subscriptions">
        <div class="panel-footer">
          <span class="pull-left">{{'lang_97' | translate}}</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row page-row">
  <div class="col-xs-12">
    <h3 class="has-divider text-highlight">
      {{'lang_237' | translate}}!
    </h3>
    <div class="panel panel-default">
      <div class="panel-body">


      </div>
    </div>
  </div>
</div>
<!-- /.row -->
